<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Про систему</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Про систему</h1>
<h2 class="lead text-center text-secondary">Бажаєте дізнатись про систему? Тут Ви зможете знайти відповіді на
    найпоширеніші запитання.</h2>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">
        <h3>Що робить система?</h3>
        <p>Система призначена для реєстрації сонячних електростанцій, яку здійснюють їхні власники.</p>

        <h3>Для чого ця система?</h3>
        <p>
            Після реєстрації сонячної електростанції, відбувається збереження даних про вироблену енергію та умови її
            виготовлення (час доби, місяць, погодні умови, термін використання панелі).
            На основі збережених даних можна створити методи прогнозування, які дозволять оптимізувати роботу ТЕС чи
            АЕС.
        </p>

        <h3>Які є особливості?</h3>
        <p>
            Кожен власник зареєстрованої сонячної станції може експортувати дані про вироблену енергію,
            щоб в подальшому їх використати для встановлення нових сонячних ферм.
        </p>

        <h3>Хто може нею користуватись?</h3>
        <p>Системою може користуватись будь-яка людина, яка в ній зареєстрована.
            Щоб створити власний кабінет потрібно вказати бажане користувацьке ім'я, адресу електронної пошти та
            придумати пароль.</p>

        <h3>Які є можливості у системи?</h3>
        <p>В системі передбачено можливість реєстрації безмежної кількості сонячних електростанцій,
            здійснювати їхній моніторинг, з можливістю експорту даних про вироблену електроенергію.
            Також в системі є можливість адміністрування та власна система обміну повідомленнями для
            спілкування з представниками технічної підтримки, у разі виникнення проблем.</p>
    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>