<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Відкриті набори даних</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Відкриті набори даних</h1>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Опис</th>
                <th scope="col">Файл CSV</th>
                <th scope="col">Файл XML</th>
                <th scope="col">Файл JSON</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Набір даних станції, яка має <br/> 18 панелей потужністю 393 Вт<br/> та термін експлуатації: 7 р. 1
                    міс. 4 д.
                </td>
                <td><a href="/data_sets/first.csv" th:href="@{/data_sets/first.csv}" target="_blank">Завантажити</a>
                </td>
                <td><a href="/data_sets/first.xml" th:href="@{/data_sets/first.xml}" target="_blank">Переглянути</a>
                </td>
                <td><a href="data_sets/first.json" th:href="@{/data_sets/first.json}" target="_blank">Переглянути</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Набір даних станції, яка має <br/> 27 панелей потужністю 502 Вт<br/> та термін експлуатації: 7 р. 1
                    міс. 15 д.
                </td>
                <td><a th:href="@{/data_sets/second.csv}" target="_blank">Завантажити</a></td>
                <td><a th:href="@{/data_sets/second.xml}" target="_blank">Переглянути</a></td>
                <td><a th:href="@{/data_sets/second.json}" target="_blank">Переглянути</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Набір даних станції, яка має <br/> 8 панелей потужністю 478 Вт<br/> та термін експлуатації: 1 р. 2
                    міс. 5 д.
                </td>
                <td><a th:href="@{/data_sets/third.csv}" target="_blank">Завантажити</a></td>
                <td><a th:href="@{/data_sets/third.xml}" target="_blank">Переглянути</a></td>
                <td><a th:href="@{/data_sets/third.json}" target="_blank">Переглянути</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>