<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Title</title>
</head>
<body>

<!-- Header -->

<header class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-body border-bottom shadow-sm fixed-top"
        id="header">
    <p class="h5 my-0 me-md-auto fw-normal">Company name</p>
    <nav class="my-1 my-md-0 me-md-3">
        <!--        <a class="p-2 text-dark" href="#">Features</a>-->
        <!--        <a class="p-2 text-dark" href="#">Enterprise</a>-->
        <!--        <a class="p-2 text-dark" href="#">Support</a>-->
        <!--        <a class="p-2 text-dark" href="#">Pricing</a>-->
    </nav>
    <!--    <a class="btn text-decoration-none link-dark" th:href="@{/login}">Ввійти</a>-->
    <!--    <a class="btn btn-outline-primary" th:href="@{/registration}">Зареєструватись</a>-->
    <a class="btn btn-outline-success" th:href="@{/}">Перейти на головну</a>
</header>

<!-- Main -->

<h1 class="mt-5 pt-5  text-center">Збір даних</h1>
<h2 class=" text-center text-secondary">Основна інформація про накопичення даних</h2>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">

        <p>
            Після реєстрації кожної сонячної електростанції, де вказуються всі необхідні параметри,
            відбувається збереження даних про вироблену електроенергію та про умови її виготовлення.
            До параметрів продукування енергії належить:
        </p>
        <ul>
            <li>час протягом доби;</li>
            <li>місяць року;</li>
            <li>погодні умови;</li>
            <li>термін експлуатації сонячної панелі.</li>
        </ul>
        <p>
            Ця інформація зберігається у базі даних кожних 30 хвилин для подальшої обробки. На основі цих даних
            можна створювати методи прогнозування вироблення електроенергії на різних електроенергетичних
            системах, що дозволить оптимізувати їхню роботу та навантаження на мережу.
        </p>
        <p>
            Власник станції може експортувати дані накопичені дані у текстовому файлі з обраним розширенням:
            csv, xml, json. Даний функціонал доступний для кожної зареєстрованої сонячної електростанції.
        </p>

    </div>
</article>

<!-- Footer -->

<footer class="container border-top pt-md-5 my-md-5 pt-4">
    <!--<footer class="pt-4 my-md-5 pt-md-5 border-top">-->
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="images/logo-social-sq.png" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">© 2021</small>
        </div>
        <!--<div class="col-6 col-md">
            <h5>Особливості</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Реєстраці</a></li>
                <li><a class="link-secondary" href="#">Random feature</a></li>
                <li><a class="link-secondary" href="#">Team feature</a></li>
                <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li>
            </ul>
        </div>-->
        <div class="col-6 col-md">
            <h5>Допомога</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/about">Про систему</a></li>
                <li><a class="link-secondary" href="/user-registration-info">Реєстрація користувача</a></li>
                <li><a class="link-secondary" href="/registration-info">Реєстрація сонячної станції</a></li>
                <li><a class="link-secondary" href="/data-collection">Збір даних</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Про систему</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/developer">Розробник</a></li>
                <!--                <li><a class="link-secondary" href="#">Locations</a></li>-->
                <!--                <li><a class="link-secondary" href="#">Privacy</a></li>-->
                <li><a class="link-secondary" href="/rules">Правила</a></li>
                <li><a class="link-secondary" href="/support">Технічна підтримка</a></li>

            </ul>
        </div>
    </div>
</footer>


</body>
</html>