<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Збір даних</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Збір даних</h1>
<h2 class=" text-center text-secondary">Основна інформація про накопичення даних</h2>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">

        <p>
            Після реєстрації кожної сонячної електростанції, де вказуються всі необхідні параметри,
            відбувається збереження даних про вироблену електроенергію та про умови її виготовлення.
            До параметрів продукування енергії належить:
        </p>
        <ul>
            <li>час протягом доби;</li>
            <li>місяць року;</li>
            <li>погодні умови;</li>
            <li>термін експлуатації сонячної панелі.</li>
        </ul>
        <p>
            Ця інформація зберігається у базі даних кожних 30 хвилин для подальшої обробки. На основі цих даних
            можна створювати методи прогнозування вироблення електроенергії на різних електроенергетичних
            системах, що дозволить оптимізувати їхню роботу та навантаження на мережу.
        </p>
        <p>
            Власник станції може експортувати дані накопичені дані у текстовому файлі з обраним розширенням:
            csv, xml, json. Даний функціонал доступний для кожної зареєстрованої сонячної електростанції.
        </p>

    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>