<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Інформація про розробника</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Інформація про розробника</h1>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">

        <p class="h5 lead">Систему розробив студент групи ІСТ-41 Драбчук Павло Богданович.</p>
        <p class="h5 lead">Контактна інформація:</p>

        <ul class="h5 lead">
            <li>E-mail: <a href="mailto:ravluk2000@gmail.com">ravluk2000@gmail.com</a></li>
            <li>Github: <a href="https://github.com/PavloDrabchuk">https://github.com/PavloDrabchuk</a></li>
        </ul>

    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>