<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Реєстрація сонячної станції</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Реєстрація сонячної станції</h1>
<h2 class=" text-center text-secondary">Основні питання</h2>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">
        <h3>Чи може додати станцію незареєстрований користувач?</h3>
        <p>
            Ні, щоб додати сонячну електростанцію, її власник повинен створити власний кабінет, де
            зможе переглядати інформацію про усі зареєстровані станції.
        </p>

        <h3>Які дані потрібні для реєстрації?</h3>
        <p>
            Для реєстрації сонячної електростанції потрібно вказати наступну інформацію:
        </p>
        <ul>
            <li>назва;</li>
            <li>кількість панелей;</li>
            <li>потужність батареї;</li>
            <li>дата встановлення;</li>
            <li>область, де вона розташована;</li>
            <li>населений пункт;</li>
            <li>вулиця;</li>
            <li>номер.</li>
        </ul>

        <h3>Чи є реєстрація платною?</h3>
        <p>
            Ні, реєстрація є безкоштовною, крім цього, користувач може зареєструвати необмежену кількість власних
            станцій.
        </p>

        <h3>Що я отримаю, зареєструвавши сонячну станцію?</h3>
        <p>
            Після реєстрації, власник станції може переглядати інформацію про вироблену енергію за певний період (за
            весь час,
            за останніх 30 днів) та середнє значення вироблення за добу. Також можна переглянути на графіку, вироблення
            енергії
            протягом доби та по місяцях. Крім цього користувач може експортувати дані про вироблену енергію та про умови
            її
            виготовлення у файлі з розширенням: csv, xml та json.
        </p>

        <h3>Чи можна видалити сонячну станцію чи змінити про неї інформацію?</h3>
        <p>
            Так, в особистому кабінеті власник станції може оновити інформацію або видалити її.
        </p>
    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>