<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Правила користування системою</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Правила користування системою</h1>
<h2 class=" text-center text-secondary">Недотримання правил, може призвести до блокування профілю</h2>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">

        <ol class="h5 lead">
            <li>Користуватичь системою варто відповідно до законодавства України.</li>
            <li>
                Під час використання механізму обміну повідомленнями, забороняється використовувати
                нецензурну лексику.
            </li>
            <li>Забороняється використання матеріалів, які розміщено на ресурсі без згоди адміністрації.</li>
            <li>Забороняється використовувати обмін повідомленнями для погроз чи для вирішення особистих образ.</li>
            <li>Заборонено виконувати дії, які можуть призвести до збою роботи системи чи втраті даних.</li>
        </ol>

    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>