<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Технічна підтримка</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Технічна підтримка</h1>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">
        <p class="h5 lead">У разі виникнення технічної проблеми, яка пов'язана з можливостями системи, звертайтесь до
            адміністратора на адресу електронної пошти:
            <a href="mailto:solar.power.plant.system@gmail.com">solar.power.plant.system@gmail.com</a>
        </p>
    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>