<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Реєстрація користувача</title>
</head>
<body>

<!-- Header -->
<header th:replace="~{info-pages/info-pages-fragments::info-pages-header}"></header>

<!-- Main -->
<h1 class="mt-5 pt-5  text-center">Реєстрація користувача</h1>
<h2 class=" text-center text-secondary">Основні питання</h2>

<article class="pb-mb-6">
    <div class="mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">
        <h3>Чи може створити кабінет будь-яка людина?</h3>
        <p>Так, для реєстрації необхідно тільки адреса еектронної пошти.</p>

        <h3>Які дані потрібні для реєстрації?</h3>
        <p>
            Для реєстрації користувача потрібно вказати наступну інформацію:</p>
        <ul>
            <li>користувацьке ім'я;</li>
            <li>адреса електронної пошти;</li>
            <li>пароль.</li>
        </ul>

        <h3>Який механізм реєстрації у системі?</h3>
        <p>
            Користувач переходить на <a href="/registration">сторінку реєстрації</a> та вводить необхідні дані,
            після цього у разі коректності всіх даних, на вказану адресу електронної пошти приходить лист з посиланням
            для підтвердження реєстрації. Після цього користувач може користуватись усім функціоналом системи.
            Якщо реєстрацію не підтвердити, то можливості будуть обмежені.
        </p>

        <h3>Де можна переглянути інформацію про кабінет користувача?</h3>
        <p>
            Інформацію про кабінет користувача можна переглянути на сторінці <a href="/profile">Профіль</a>.
            Також тут є можливість змінити особисту інформацію.
        </p>

        <h3>Чи можна змінити пароль, якщо його забули?</h3>
        <p>
            Так, в системі передбачено можливість зміни паролю, де необхідно це підтвердити, перейшовши за посиланням,
            яке надсилається на адресу електронної пошти.
        </p>
    </div>
</article>

<!-- Footer -->
<footer th:replace="~{dashboard/user/footer::footer}"></footer>

</body>
</html>