# Get API -> https://openweathermap.org/api
OPEN_WEATHER_MAP_API_KEY=YOUR_API_KEY

# Get API -> https://developer.mapquest.com/documentation/geocoding-api/address/get/
MAP_QUEST_API_KEY=g1CgD1eTytaXG7ubOigQK4bB9QyVSr92

DATA_COLLECTION_TIME=5000