# Get API -> https://openweathermap.org/api
OPEN_WEATHER_MAP_API_KEY=YOUR_API_KEY

# Get API -> https://developer.mapquest.com/documentation/geocoding-api/address/get/
MAP_QUEST_API_KEY=g1CgD1eTytaXG7ubOigQK4bB9QyVSr92

# 5 * 1000 = 5000           // 5 секунд
# 1000 * 60 * 30 = 1800000  // 30 хвилин
# 1000 * 60 * 60 = 3600000  // 60 хвилин

DATA_COLLECTION_TIME=5000
CODE_DEACTIVATION_CODE=3600000