<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<footer th:fragment="footer" class="container border-top pt-md-5 my-md-5 pt-4">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="images/logo-social-sq.png" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">© 2021</small>
        </div>

        <div class="col-6 col-md">
            <h5>Допомога</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/about">Про систему</a></li>
                <li><a class="link-secondary" href="/user-registration-info">Реєстрація користувача</a></li>
                <li><a class="link-secondary" href="/registration-info">Реєстрація сонячної станції</a></li>
                <li><a class="link-secondary" href="/data-collection">Збір даних</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Відкриті набори даних</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/data-sets">Переглянути</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Інша інформація</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/developer">Розробник</a></li>
                <li><a class="link-secondary" href="/rules">Правила</a></li>
                <li><a class="link-secondary" href="/support">Технічна підтримка</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>