<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<main th:fragment="main-content (solarPowerPlantsByUser, numPages, currentPage)"
      role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Зареєстровані сонячні станції</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

            <button class="btn btn-success" onclick="document.location='/solar-power-plant/new'">Додати станцію
            </button>

        </div>
    </div>
    <!--/*@thymesVar id="deletedSolarPowerPlantOK" type="java.lang.String"*/-->
    <div class="alert alert-success m-2" role="alert"
         th:if="${deletedSolarPowerPlantOK}" th:utext="${deletedSolarPowerPlantOK}">
        deletedSolarPowerPlantOK
    </div>

    <!--/*@thymesVar id="deletedSolarPowerPlantError" type="java.lang.String"*/-->
    <div class="alert alert-danger m-2" role="alert"
         th:if="${deletedSolarPowerPlantError}" th:utext="${deletedSolarPowerPlantError}">
        deletedSolarPowerPlantError
    </div>

    <!--/*@thymesVar id="exportDataError" type="java.lang.String"*/-->
    <div class="alert alert-danger m-2" role="alert"
         th:if="${exportDataError}" th:utext="${exportDataError}">
        exportDataError
    </div>

    <!--/*@thymesVar id="getDataError" type="java.lang.String"*/-->
    <div class="alert alert-danger m-2" role="alert"
         th:if="${getDataError}" th:utext="${getDataError}">
        getDataError
    </div>

    <div th:if="${#lists.isEmpty(solarPowerPlantsByUser)}">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 mb-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Ще не зареєстровано жодної сонячної станції.</h4>
                <p>Щоб зареєструвати сонячну станцію натисніть на кнопку "Додати станцію", яка розташована вище.</p>

                <hr>
                <p class="mb-0 text-center">Детальну інформацію можна переглянути
                    <a href="/registration-info" class="alert-link">тут</a>.
                </p>

            </div>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(solarPowerPlantsByUser)}">
        <div th:each="solarPowerPlant,state : ${solarPowerPlantsByUser}"
             th:if="${state.odd}"
             th:with="numList=${#strings.listSplit('1,0',',')}"
             class="row mb-2">
            <div class="col-md-6" th:each="num : ${numList}"
                 th:with="dataIndex=(${state.index} - ${num}+1)">
                <div class="card flex-md-row mb-4 box-shadow h-md-250"
                     th:if="${(dataIndex) < #lists.size(solarPowerPlantsByUser)}">
                    <div class="card-body col p-4 d-flex flex-column position-static">
                        <div th:if="${solarPowerPlantsByUser[dataIndex].getStaticData().getQuantity()<=10}">
                            <h5>
                                <div class="badge bg-success text-wrap user-select-none">
                                    Мала
                                </div>
                            </h5>
                        </div>

                        <div th:if="${solarPowerPlantsByUser[dataIndex].getStaticData().getQuantity()>10 and
                        solarPowerPlantsByUser[dataIndex].getStaticData().getQuantity()<=25}">
                            <h5>
                                <div class="badge bg-info text-wrap user-select-none">
                                    Середня
                                </div>
                            </h5>
                        </div>

                        <div th:if="${solarPowerPlantsByUser[dataIndex].getStaticData().getQuantity()>25}">
                            <h5>
                                <div class="badge bg-danger text-wrap user-select-none">
                                    Велика
                                </div>
                            </h5>
                        </div>
                        <h3 class="mb-0">

                            <!--/*@thymesVar id="stringId" type="java.lang.String"*/-->
                            <a class="text-dark header-tittle"
                               th:href="${'/view/'+ solarPowerPlantsByUser[dataIndex].stringId}"
                               th:utext="${solarPowerPlantsByUser[dataIndex].getName()}"></a>
                        </h3>
                        <div class="mb-1 text-muted"
                             th:if="${solarPowerPlantsByUser[dataIndex].getStringRegistrationDateTime()}"
                             th:utext="${'Дата реєстрації: '+solarPowerPlantsByUser[dataIndex].getStringRegistrationDateTime()}"></div>
                        <p class="card-text"
                           th:if="${solarPowerPlantsByUser[dataIndex].getLocation().getStringLocation()}"
                           th:utext="${'Розташування: '+solarPowerPlantsByUser[dataIndex].getLocation().getStringLocation()}"></p>
                        <a class="header-tittle"
                           th:href="${'/view/'+solarPowerPlantsByUser[dataIndex].getStringId()}">Переглянути
                            інформацію</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div th:replace="~{fragments/pagination
        ::pagination(${null}, ${numPages}, ${currentPage}, '/home')}"></div>
    </div>

</main>

</body>
</html>