<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script>
    function loadMessageAlert() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("unreadMessageCount").innerHTML =
                    this.responseText;
            }
        };

        xhttp.open("GET", "getMessageAlert", true);
        xhttp.send();
    }

    function getT() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("unreadMessageCount").innerHTML =
                    this.responseText;
            }
        };

        xhttp.open("GET", "getTest", true);
        xhttp.send();
    }
</script>

<body>

<header class="p-2 border-bottom bg-dark sticky-top flex-md-nowrap">
    <div class="px-4">
        <button class="bg-light navbar-toggler position-absolute d-md-none collapsed"
                type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="/images/logo-social-sq.png" height="30px">
            </a>


            <ul class="nav text-end col-12 col-xl-10 col-lg-9 col-md-9 me-lg-auto mb-2 justify-content-center mb-md-0 justify-content-lg-end">
                <li><a href="/messages" class="nav-link px-2 link-light">Повідомлення
                    <div class="noti-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#ffffff"
                             class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>

                        <!--/*@thymesVar id="countUnreadMessages" type="java.lang.Long"*/-->
                        <span class="quantity" th:if="${countUnreadMessages > 0}"
                              th:text="${countUnreadMessages}">1</span>
                    </div>
                </a>
                </li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">

                    <img src="/images/default-profile-image.png" alt="mdo" width="32" height="32"
                         class="rounded-circle">
                    [[${#httpServletRequest.remoteUser}]]
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/profile">Профіль</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                            <button class="dropdown-item  my-2 my-sm-0" type="submit">Вийти</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<script src="/scripts/bootstrap/bootstrap.bundle.js"></script>
</body>

</html>