<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/profile.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<main th:fragment="main-content (userInformation,accountStatus,countOfRegisteredSolarStations)"
      role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <!--<table border="1" cellspacing="0">
        <tr>
            <th>Профіль</th>
            <th align="right"><a th:href="@{/profile/edit}">Редагувати</a></th>
        </tr>
        <tr>
            <td>Прізвище</td>
            <td th:text="${userInformation.getSurname()}"></td>
        </tr>
        <tr>
            <td>Ім'я</td>
            <td th:text="${userInformation.getName()}"></td>
        </tr>
        <tr>
            <td>По батькові</td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #7b98bc"></td>
            <td style="background-color: #7b98bc"></td>
        </tr>

        <tr>
            <td>Ім'я користувача</td>
            <td th:text="${userInformation.getUsername()}"></td>
        </tr>

        <tr>
            <td>E-mail</td>
            <td th:text="${userInformation.getEmail()}"></td>
        </tr>

        <tr>
            <td>Моб. телефон</td>
            <td th:text="${userInformation.getMobilePhoneNumber()}"></td>
        </tr>

        <tr>
            <td style="background-color: #7b98bc"></td>
            <td style="background-color: #7b98bc"></td>
        </tr>

        <tr>
            <td>Статус аккаунту</td>
            <td th:text="${accountStatus}"></td>
        </tr>

    </table>-->

    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/images/default-profile-image.png" alt="image"
                                     class="rounded-circle" width="100">
                                <div class="mt-3">
                                    <h4 th:text="${userInformation.getUsername()}">Username</h4>
                                    <form th:action="@{/profile/edit}" method="get">
                                        <input type="submit" class="btn btn-outline-success"
                                               value="Редагувати інформацію">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">П.І.Б.</h6>
                                </div>
                                <!--<div th:text="${userInformation.getSurname()+' '+userInformation.getName()}"
                                     class="col-sm-9 text-secondary">
                                    Surname Name
                                </div>-->

                                <div th:if="${!#strings.isEmpty(userInformation.getSurname()) and !#strings.isEmpty(userInformation.getName())}"
                                     th:text="${userInformation.getSurname()+' '+userInformation.getName()}"
                                     class="col-sm-9 text-secondary">
                                    Surname Name
                                </div>

                                <!--                                <div th:if="${#strings.isEmpty(userInformation.getSurname()+userInformation.getName())}"-->
                                <div th:if="${#strings.isEmpty(userInformation.getSurname()) or #strings.isEmpty(userInformation.getName())}"
                                     class="col-sm-9 text-secondary">
                                    Дані відсутні.
                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Ім'я користувача</h6>
                                </div>
                                <div th:text="${userInformation.getUsername()}"
                                     class="col-sm-9 text-secondary">
                                    Username
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">E-mail</h6>
                                </div>
                                <div th:text="${userInformation.getEmail()}"
                                     class="col-sm-9 text-secondary">
                                    example@example.com
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Мобільний телефон</h6>
                                </div>
                                <!--                                <div th:if="${userInformation.getMobilePhoneNumber() != '' or userInformation.getMobilePhoneNumber() != null}"-->
                                <div th:if="${!#strings.isEmpty(userInformation.getMobilePhoneNumber())}"
                                     th:text="${userInformation.getMobilePhoneNumber()}"
                                     class="col-sm-9 text-secondary">
                                    +380 088 123-45-67
                                </div>
                                <!--                                <div th:if="${userInformation.getMobilePhoneNumber() == '' or userInformation.getMobilePhoneNumber() == null}"-->
                                <div th:if="${#strings.isEmpty(userInformation.getMobilePhoneNumber())}"
                                     class="col-sm-9 text-secondary">
                                    Дані відсутні.
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-sm-12  mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h4 class="d-flex align-items-center mb-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#6BB7FA"
                                             class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z"/>
                                        </svg>
                                        &ensp;Системна інформація
                                    </h4>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Зареєстровано станцій</h6>
                                        </div>
                                        <div th:if="${countOfRegisteredSolarStations > 0}"
                                             th:text="${countOfRegisteredSolarStations}"
                                             class="col-sm-9 text-secondary">
                                            [88;Ще не зареєстровано жодної станції.]
                                        </div>
                                        <div th:if="${countOfRegisteredSolarStations <= 0}"
                                             class="col-sm-9 text-secondary">
                                            Ще не зареєстровано жодної станції.
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Дата реєстрації</h6>
                                        </div>
                                        <div th:text="${userInformation.getStringRegistrationDateTime()}"
                                             class="col-sm-9 text-secondary">
                                            14.03.2021
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Статус аккаунту</h6>
                                        </div>
                                        <div class="col-sm-9" th:switch="${accountStatus}">
                                            <!-- <h2 class="badge fs-5 bg-success text-light text-wrap ">Активний</h2>-->
                                            <!-- <div class="d-inline-block fs-5  badge badge-success">Активний</div>-->
                                            <div th:case="'Заблокований'">
                                                <!--<h5>
                                                    <strong th:text="${accountStatus}"
                                                            class="d-inline-block  badge badge-success">Активований</strong>
                                                </h5>-->
                                                <h5>
                                                    <div class="badge bg-danger text-wrap user-select-none"
                                                         th:text="${accountStatus}">
                                                        Активований
                                                    </div>
                                                </h5>
                                            </div>
                                            <div th:case="'Активований'">
                                                <!--<h5>
                                                    <strong th:text="${accountStatus}"
                                                            class="d-inline-block  badge badge-success">Активований</strong>
                                                </h5>-->
                                                <h5>
                                                    <div class="badge bg-success text-wrap user-select-none"
                                                         th:text="${accountStatus}">
                                                        Активований
                                                    </div>
                                                </h5>
                                            </div>
                                            <div th:case="'Не активований'">
                                                <!--<h5>
                                                    <strong th:text="${accountStatus}"
                                                            class="d-inline-block  badge badge-danger">Не
                                                        активований</strong>
                                                </h5>-->
                                                <h5>
                                                    <div class="badge bg-warning text-wrap user-select-none"
                                                         th:text="${accountStatus}">
                                                        Не
                                                        активований
                                                    </div>
                                                </h5>
                                            </div>

                                            <!--<h5>
                                                <strong th:text="${accountStatus}"
                                                        class="d-inline-block  badge badge-success">Активний</strong>
                                            </h5>-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

</body>

</html>