<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<main th:fragment="main-content (userInformation,accountStatus,countOfRegisteredSolarStations)"
      role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">

                <div th:replace="~{dashboard/user/user-fragments
        ::photo-and-username-fragment(${userInformation}, false)}">
                </div>

                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mb-3">
                    <div th:replace="~{dashboard/user/user-fragments
        ::user-info-fragment(${userInformation})}">
                    </div>

                    <div th:replace="~{dashboard/user/user-fragments
        ::system-info-fragment(${userInformation}, ${countOfRegisteredSolarStations}, ${accountStatus}, false)}">
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

</body>
</html>