<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
    function checkFields() {
        let countErrors = 0;

        const name = document.getElementById("name").value;

        if (name.length === 0) {
            countErrors++;
            document.getElementById("name_error").innerText="Введіть назву.";
        } else {
            document.getElementById("name_error").innerText="";
        }

        return countErrors === 0;
    }
</script>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>

<h3>Add new solar power plant</h3>

<h3>Form</h3>
<form action="addSolarPowerPlant" th:action="@{/addSolarPowerPlant}" th:object="${solarPowerPlant}" method="post">
    <p>name: <input type="text" th:field="*{name}" id="name"/></p>
    <div id="name_error"></div>
    <p>quantity: <input type="number" min="1" value="1" th:field="*{quantity}"/></p>
    <h4>Location</h4>
    <p>Область:

    <select th:field="*{location.region}">
        <option th:each="region : ${regions}" th:name="${region}" th:value="${region}" th:utext="${region.getName()}"></option>
<!--        <option>Івано-Франківська</option>-->
    </select>
    <p>Місто/Населений пункт: <input type="text" th:field="*{location.city}"/></p>
    <p>Вулиця: <input type="text" th:field="*{location.street}"/></p>
    <p>Номер: <input type="text" th:field="*{location.number}"/></p>

    <p><input type="submit" value="addSolarPlant" onclick="return checkFields()"/> <input type="reset" value="Reset"/></p>
</form>


<hr/>
</body>
</html>