<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
    function g() {
        console.log("click");
        return false;
    }

    function checkMatchingPasswords() {
        console.log(document.getElementById("password").value);
        console.log(document.getElementById("password_confirm").value);
        const password = document.getElementById("password").value;
        const passwordConfirm = document.getElementById("password_confirm").value;

        if (password !== "" && passwordConfirm !== "") {
            document.getElementById("matching_passwords").innerText = password !== passwordConfirm ? "Паролі не співпадають." : "";
        }
    }

    function checkFields() {
        let countErrors = 0;

        const username = document.getElementById("username").value,
            email = document.getElementById("email").value,
            password = document.getElementById("password").value,
            passwordConfirm = document.getElementById("password_confirm").value;

        countErrors += checkLength(username, "username_error", "Введіть ім'я користувача.");

        countErrors += checkLength(email, "email_error", "Введіть адресу електронної пошти.");

        countErrors += checkLength(password, "password_error", "Введіть пароль.");

        if (password !== passwordConfirm) {
            countErrors++;
        }

        return countErrors === 0;
    }

    function checkLength(variable, errorNameId, msg) {
        if (variable.length === 0) {
            //countErrors++;
            document.getElementById(errorNameId).innerText = msg;
            return 1;
        } else {
            document.getElementById(errorNameId).innerText = "";
            return 0;
        }
    }
</script>


<h2>Add new user</h2>

<h3>Form</h3>
<form action="add" th:action="@{/registration/success}" th:object="${user}" method="post">

    <p>username: <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${duplicateUser}" th:text="${duplicateUser}"></div>
    <div id="username_error"></div>
    </p>


    <p>e-mail: <input type="email" th:field="*{email}" id="email"/>
    <div th:if="${duplicateEmail}" th:text="${duplicateEmail}"></div>
    <div id="email_error"></div>
    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
    </p>

    <p>password: <input type="text" th:field="*{password}" id="password" onblur="checkMatchingPasswords()"/></p>
    <div id="password_error"></div>

    <p>password confirm: <input type="text" th:field="*{passwordConfirm}" id="password_confirm"
                                onblur="checkMatchingPasswords()"/></p>

    <div id="matching_passwords"></div>


    <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Name Error</td>

    <p><input type="submit" value="add" onclick="return checkFields()"/> <input type="reset" value="Reset"/></p>
</form>


<hr/>
</body>
</html>