<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>

<h1>Add new solar power plant</h1>

<h1>Form</h1>
<form action="addSolarPowerPlant" th:action="@{/addSolarPowerPlant}" th:object="${solarPowerPlant}" method="post">
    <p>name: <input type="text" th:field="*{name}" /></p>
    <p>number: <input type="number" min="1" value="1" th:field="*{number}" /></p>
<h4>Location</h4>
    <p>location.country: <input type="text" th:field="*{location.country}" /></p>
    <p>location.city: <input type="text" th:field="*{location.city}" /></p>
    <p>location.street: <input type="text" th:field="*{location.street}" /></p>

<!--    <p>location.longitude: <input type="number" min="-180" max="180" step="0.00000001" th:field="*{location.longitude}" /></p>-->
<!--    <p>location.latitude: <input type="number" min="-90" max="90" step="0.00000001" th:field="*{location.latitude}" /></p>-->

    <!--    <p>surname: <input type="text" th:field="*{surname}" /></p>-->
    <p><input type="submit" value="addSolarPlant" /> <input type="reset" value="Reset" /></p>
</form>

<!--
https://www.mapquestapi.com/geocoding/v1/address?key=KEY&inFormat=kvp&outFormat=json&location=+%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%93%D1%80%D1%83%D1%88%D0%B5%D0%B2%D1%81%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE+21%2C+%D0%86%D0%B2%D0%B0%D0%BD%D0%BE-%D1%84%D1%80%D0%B0%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%2C+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0&thumbMaps=true&maxResults=1
-->

<!--
http://www.mapquestapi.com/search/v3/prediction?key=g1CgD1eTytaXG7ubOigQK4bB9QyVSr92&limit=5&language=ua&collection=adminArea,address&q=%D0%86%D0%B2%D0%B0%D0%BD%D0%BE
-->

<hr/>
</body>
</html>