<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>

<h3>All users</h3>

<h4 th:text="${name}"></h4>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurname()}"></td>
    </tr>
</table>

<a href="/admin/users">Користувачі</a>
<br/>
<a href="/admin/solar-power-plants">Сонячні станції</a>

</body>
</html>