<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3 th:utext="'Для завершення реєстрації перейдіть за посиланням, яке є у листі, який надіслано на електронну пошту: '+ ${email}+'!'"></h3>

<form th:action="@{/sendConfirmationCodeAgain}" method="post">
    <input type="submit" value="Надіслати ще раз"/>
</form>

<h3 th:if="${sendingCodeMessage}">
    test
    <div th:utext="${sendingCodeMessage}">
    </div>
</h3>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>


</body>
</html>