<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Для завершення реєстрації перейдіть за посиланням, яке є у листі, який надіслано на електронну пошту: {e-mail}!</h3>

<!--<form action="confirmRegistration"  th:action="@{/confirmRegistration}" th:method="post" th:object="${confirmationCode}">
    <label>Enter confirmation code</label><input type="text" maxlength="8">
    <input type="submit">
</form>-->


<form th:action="@{/sendConfirmationCodeAgain}" method="post">
    <input type="submit" value="Надіслати ще раз"/>
</form>

<h2 th:if="${sendingCodeMessage}">
    <div th:text="${sendingCodeMessage}">
    </div>
</h2>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>


</body>
</html>