<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/home.css" th:href="@{/styles/home.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/dashboard.css" th:href="@{/styles/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/profile.css" th:href="@{/styles/profile.css}"/>

    <title>Сонячна станції | Дані</title>

    <script>
        function visibleExportDataTip(state) {
            document.getElementById('export-data-tip').hidden = state;
        }

        function visibleExportDataWithTimeout() {
            visibleExportDataTip(false);
            setTimeout(visibleExportDataTip, 15000, true);
        }
    </script>

</head>
<body>

<!-- Navigation panel -->
<div th:replace="~{dashboard/user/nav-panel}"></div>

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div th:replace="~{dashboard/user/sidebar}"></div>

        <!-- Main -->
        <div th:replace="~{dashboard/user/solar-power-plant/data
        ::main-content(${id}, ${startDate}, ${finishDate}, ${data}, ${solarPowerPlant})}"></div>

    </div>
</div>

</body>
</html>