<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="UTF-8">

    <!--<link href="css/bootstrap.css" rel="stylesheet" >
   <link href="css/main.css" rel="stylesheet">
   <link href="css/banner.css" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css" th:href="@{/styles/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/main.css" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/banner.css" th:href="@{/styles/banner.css}"/>

    <script src="scripts/bootstrap/bootstrap.js"></script>
    <script src="scripts/main.js"></script>

    <title>Title</title>
</head>
<body>
<!--<h2>Вітаємо!</h2>
<h3>Натисніть <a th:href="@{/login}">сюди</a>, щоб ввійти.</h3>

<h3><a th:href="@{/registration}">Зареєструватись</a></h3>-->

<!-- Header -->

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm fixed-top"
        id="header">
    <p class="h5 my-0 me-md-auto fw-normal">Company name</p>
    <nav class="my-2 my-md-0 me-md-3">
<!--        <a class="p-2 text-dark" href="#">Features</a>-->
<!--        <a class="p-2 text-dark" href="#">Enterprise</a>-->
<!--        <a class="p-2 text-dark" href="#">Support</a>-->
<!--        <a class="p-2 text-dark" href="#">Pricing</a>-->
    </nav>
    <a class="btn text-decoration-none link-dark" th:href="@{/login}">Ввійти</a>
    <a class="btn btn-outline-primary" th:href="@{/registration}">Зареєструватись</a>
</header>

<!-- Banner -->

<div class="banner banner-inner">

    <div class="banner-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777"></rect>
        </svg>

        <div class="container">
            <div class="banner-caption text-end">
                <h1>Зробіть ще один крок для збереження екології.</h1>
                <p>Створіть особистий кабінет та додайте свою першу сонячну станцію.</p>
                <p><a class="btn btn-lg btn-success" href="#">Почати</a></p>
            </div>
        </div>
    </div>
</div>

<!-- *************************** -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            </svg>

            <h2>Про систему</h2>
            <p>Система створена для реєстрації сонячних станцій та збирання даних про вироблену потужність.</p>
            <p><a class="btn btn-secondary" onclick="jump('first')">Дізнатись більше</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            </svg>

            <h2>Реєстрація сонячної станції</h2>
            <p>Зареєструвати власну сонячну станцію просто. Для цього необхідно створити кабінет та додати першу станцію.</p>
            <p><a class="btn btn-secondary" onclick="jump('second')">Дізнатись більше</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            </svg>

            <h2>Збір даних</h2>
            <p>Збір на зберігання даних про вироблену потужність сонячної станції виконується автоматично.</p>
            <p><a class="btn btn-secondary" onclick="jump('third')">Дізнатись більше</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" id="first">

    <div class="row featurette">

        <div class="col-md-7">
            <h2 class="featurette-heading">Про систему<!--<span
                    class="text-muted">It’ll blow your mind.</span>--></h2>
            <p class="lead">Система створена, щоб зберігати дані про вироблену потужність сонячних станцій для подальшого прогнозування.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider" id="second">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Реєстрація сонячної станції<!--<span class="text-muted">See for yourself.</span>--></h2>
            <p class="lead">Зареєструвати власну сонячну станцію дуже просто, для цього необхідно вказати всі дані та виконувати інструкції.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider" id="third">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Збір даних<!--<span class="text-muted">Checkmate.</span>--></h2>
            <p class="lead">Збір даних проводиться в автоматичному режимі кожних 30 хвилин протягом дня. Інформацію про накопичену енергію можна переглянути в особистому кабінеті.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>

        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div>


<!-- Footer -->

<footer class="container border-top pt-md-5 my-md-5 pt-4">
    <!--<footer class="pt-4 my-md-5 pt-md-5 border-top">-->
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="images/logo-social-sq.png" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">© 2021</small>
        </div>
        <!--<div class="col-6 col-md">
            <h5>Особливості</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Реєстраці</a></li>
                <li><a class="link-secondary" href="#">Random feature</a></li>
                <li><a class="link-secondary" href="#">Team feature</a></li>
                <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li>
            </ul>
        </div>-->
        <div class="col-6 col-md">
            <h5>Допомога</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Про систему</a></li>
                <li><a class="link-secondary" href="#">Реєстрація користувача</a></li>
                <li><a class="link-secondary" href="#">Реєстрація сонячної станції</a></li>
                <li><a class="link-secondary" href="#">Збір даних</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Про систему</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Розробник</a></li>
<!--                <li><a class="link-secondary" href="#">Locations</a></li>-->
<!--                <li><a class="link-secondary" href="#">Privacy</a></li>-->
                <li><a class="link-secondary" href="#">Правила</a></li>
            </ul>
        </div>
    </div>
</footer>



</body>
</html>