<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Вітаємо!</h1>
<h3>Натисніть <a th:href="@{/login}">сюди</a>, щоб ввійти.</h3>

<!--<h4 th:text="${name}"></h4>-->
<h3><a th:href="@{/new}">Зареєструватись</a></h3>
<h5><a href="/new">New User</a></h5>
<!--<td th:errors-->
</body>
</html>