<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>

<table border="1" cellspacing="0">
    <tr>
    <th>Профіль</th>
        <th align="right"><a href="#">Редагувати</a></th>
    </tr>
    <tr>
        <td>Прізвище</td>
        <td th:text="${userInformation.getSurname()}"></td>
    </tr>
    <tr>
        <td>Ім'я</td>
        <td th:text="${userInformation.getName()}"></td>
    </tr>
    <tr>
        <td>По батькові</td>
        <td></td>
    </tr>
    <tr>
        <td style="background-color: #7b98bc"></td>
        <td style="background-color: #7b98bc"></td>
    </tr>

    <tr>
        <td>Ім'я користувача</td>
        <td th:text="${userInformation.getUsername()}"></td>
    </tr>

    <tr>
        <td>E-mail</td>
        <td th:text="${userInformation.getEmail()}"></td>
    </tr>

    <tr>
        <td>Моб. телефон</td>
        <td></td>
    </tr>

    <tr>
        <td style="background-color: #7b98bc"></td>
        <td style="background-color: #7b98bc"></td>
    </tr>

    <tr>
        <td>Статус аккаунту</td>
        <td th:text="${accountStatus}"></td>
    </tr>

</table>




</body>
</html>