<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:unless="${recoverSignalOK} or ${updatePasswordOK}">
<form action="recoverPassword" th:action="@{/recoverPassword}" th:object="${recoverInformation}" method="post">
    <p>username: <input type="text" th:field="*{username}"/></p>
    <p>email: <input type="text" th:field="*{email}"/></p>
    <input type="submit" value="Надіслати листа для відновлення доступу">
</form>
</div>

<div th:if="${sendMessage}">
    <h3 th:text="${sendMessage}"></h3>
</div>

<div th:if="${recoverSignalOK}">
   <h3 th:text="recoverSignalOK"></h3>
    <form action="updatePassword" th:action="@{'/recover/' +${confirmationCode}}" th:object="${updatePassword}" method="post">
<!--        <div  th:text="${username}"></div>-->
        <p>new password: <input type="text" name="password"/></p>
        <p>password again: <input type="text" name="passwordAgain"/></p>
        <input type="submit" value="Змінити пароль">
    </form>
</div>

<br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>

</body>
</html>