<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/signin.css" th:href="@{/styles/signin.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/profile.css" th:href="@{/styles/profile.css}"/>


    <title>Title</title>
</head>
<body>


<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 mb-3"
     th:if="${sendMessageOK}">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Запит надіслано.</h4>
        <p th:text="${sendMessageOK}"></p>
        <hr>
        <p class="mb-0 text-center">Натисніть <a th:href="@{/login}" class="alert-link">сюди</a>, щоб
            ввійти.</p>
        <hr>
        <p class="mb-0 text-center"><a th:href="@{/}" class="alert-link">Повернутись на головну</a></p>
    </div>
</div>
<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 mb-3"
     th:if="${sendMessageERROR}">
    <div class="alert alert-danger"
         role="alert"
         th:if="${sendMessageERROR}" th:text="${sendMessageERROR}">
        sendMessageERROR
    </div>
</div>
<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 mb-3"
     th:if="${updatePasswordERROR}">
    <div class="alert alert-danger  text-center"
         role="alert"
         th:text="${updatePasswordERROR}">
        updatePasswordERROR
    </div>
</div>

<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 mb-3"
     th:if="${updatePasswordOK}">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Пароль успішно змінено!</h4>
        <p>Для входу до свого аккаунту використовуйте свої дані та новий пароль.</p>
        <hr>
        <p class="mb-0 text-center">Натисніть <a th:href="@{/login}" class="alert-link">сюди</a>, щоб
            ввійти.</p>
        <hr>
        <p class="mb-0 text-center"><a th:href="@{/}" class="alert-link">Повернутись на головну</a></p>
    </div>
</div>

<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 mb-3"
     th:if="${errorMessage}">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Код підтвердження недійсний.</h4>
        <p>Спробуйте ще раз відновити пароль, щоб отримати новий код підтвердження.</p>
        <hr>
        <p class="mb-0 text-center">Натисніть <a th:href="@{/login}" class="alert-link">сюди</a>, щоб
            ввійти.</p>
        <hr>
        <p class="mb-0 text-center"><a th:href="@{/}" class="alert-link">Повернутись на головну</a></p>
    </div>
</div>


<div th:unless="${recoverSignalOK} or ${updatePasswordOK} or ${updatePasswordERROR} or ${sendMessageOK} or ${errorMessage}">
    <!--<form action="recoverPassword" th:action="@{/recoverPassword}" th:object="${recoverInformation}" method="post">
        <p>username: <input type="text" th:field="*{username}"/></p>
        <p>email: <input type="text" th:field="*{email}"/></p>
        <input type="submit" value="Надіслати листа для відновлення доступу">
    </form>-->
    <div class="col-lg-4 col-md-7 col-sm-8 col-9 bg-form-signin">
        <div class="form-signin ">
            <form action="recoverPassword" th:action="@{/recoverPassword}" th:object="${recoverInformation}"
                  method="post">
                <div class="text-center">
                    <a th:href="@{/}">
                        <img class="mb-4 float-center" src="images/logo-social-sq.png" alt="" width="72" height="57">
                    </a>
                </div>
                <h1 class="h3 mb-3 fw-normal text-center">Відновлення паролю</h1>

                <label for="inputEmail">Ім'я користувача</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="Ім'я користувача" required=""
                       autofocus="" th:field="*{username}">
                <br/>
                <label for="inputEmail">E-mail</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required=""
                       autofocus="" th:field="*{email}">
                <br/>

                <button class=" btn  btn-primary" type="submit">Надіслати листа для відновлення доступу
                </button>

                <hr/>
                <div class="text-center">
                    <p>Натисніть <a href="#">сюди</a>, щоб ввійти.</p>
                </div>

                <hr/>
                <div class="text-center">
                    <a th:href="@{/}">Повернутись на головну.</a>
                </div>

            </form>
        </div>
    </div>
</div>

<!--<div th:if="${sendMessageOK}">
    <h3 th:text="${sendMessageOK}"></h3>
</div>
<div th:if="${sendMessageERROR}">
    <h3 th:text="${sendMessageERROR}"></h3>
</div>-->

<div th:if="${recoverSignalOK} or ${updatePasswordERROR}">
    <!-- <h3 th:text="recoverSignalOK"></h3>
     <form action="updatePassword" th:action="@{'/recover/' +${confirmationCode}}" th:object="${updatePassword}"
           method="post">
         &lt;!&ndash;        <div  th:text="${username}"></div>&ndash;&gt;
         <p>new password: <input type="password" name="password"/></p>
         <p>password again: <input type="password" name="passwordAgain"/></p>
         <input type="submit" value="Змінити пароль">
     </form>-->
    <div class="col-lg-4 col-md-7 col-sm-8 col-9 bg-form-signin">
        <div class="form-signin ">
            <form action="updatePassword" th:action="@{'/recover/' +${confirmationCode}}" th:object="${updatePassword}"
                  method="post">
                <div class="text-center">
                    <a th:href="@{/}">
                        <img class="mb-4 float-center" src="images/logo-social-sq.png" alt="" width="72" height="57">
                    </a></div>
                <h1 class="h3 mb-3 fw-normal text-center">Відновлення паролю</h1>

                <label for="inputPassword">Новий пароль</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Новий пароль" required=""
                       autofocus="" name="password">
                <br/>
                <label for="inputPasswordConfirm">Новий пароль ще раз</label>
                <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Новий пароль ще раз"
                       required=""
                       autofocus="" name="passwordAgain">
                <br/>
                <button class=" btn  btn-primary" type="submit">Змінити пароль
                </button>

                <hr/>
                <div class="text-center">
                    <p>Натисніть <a href="#">сюди</a>, щоб ввійти.</p>
                </div>

                <hr/>
                <div class="text-center">
                    <a th:href="@{/}">Повернутись на головну.</a>
                </div>

            </form>
        </div>
    </div>

</div>

<!--<div th:if="${updatePasswordERROR}">
    <h3 th:text="${updatePasswordERROR}"></h3>
</div>

<div th:if="${updatePasswordOK}">
    <h3 th:text="${updatePasswordOK}"></h3>
</div>
<h3 th:if="${errorMessage}" th:text="${errorMessage}"></h3>-->

<!--<br/>

<h3>Натисніть <a th:href="@{/login}">сюди</a>, щоб ввійти.</h3>
<h3><a th:href="@{/}">Перейти на головну</a></h3>-->

</body>
</html>