<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="https://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<!--    <script type="text/javascript" src="http://maplib.khtml.org/khtml.maplib/khtml_all.js"> </script>-->
<!--    <script src="/scripts/map.js"></script>-->
</head>
<body>

<h3>Solar Plant By Id</h3>


<table border="1px">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
    </tr>
    <tr>
        <td th:text="${solarPowerPlant.get().getId()}"></td>
        <td th:utext="${solarPowerPlant.get().getName()}"></td>
        <td th:utext="${solarPowerPlant.get().getLocation().getCity()}"></td>

    </tr>

</table>

<div style="width: 800px;height: 600px;" id="mapBlock"></div>

<p id="ttt">ttyy</p>

<script th:inline="javascript">
    /*<![CDATA[*/
    let lat = /*[[${solarPowerPlant.get().getLocation().getLongitude}]]*/ '0.0';
    let lon = /*[[${solarPowerPlant.get().getLocation().getLatitude}]]*/ '0.0';
    /*]]>*/
</script>

<script th:inline="javascript" src="/scripts/map.js"></script>




</body>
</html>