<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot User Authentication</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css"
          type="text/css">

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->

<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>-->

    <!--<link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap.min.css"
          th:href="@{/styles/bootstrap.min.css}"/>-->
    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/home.css" th:href="@{/styles/home.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/dashboard.css" th:href="@{/styles/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/profile.css" th:href="@{/styles/profile.css}"/>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="/styles/solarPowerPlantPageStyle.css">

</head>
<body>

<!--<div th:if="${notFoundSolarPowerPlant}" th:value="${notFoundSolarPowerPlant}"
     th:utext="${notFoundSolarPowerPlant}"></div>

<div th:if="${deletedSolarPowerPlantOK}" th:value="${deletedSolarPowerPlantOK}"
     th:utext="${deletedSolarPowerPlantOK}"></div>


<div th:if="not ${notFoundSolarPowerPlant} and not ${deletedSolarPowerPlantOK}">
    <h3>Solar Plant By Id</h3>


    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Назва</th>
            <th>Адреса</th>
        </tr>
        <tr>
            <td th:text="${solarPowerPlant.get().getId()}"></td>
            <td th:utext="${solarPowerPlant.get().getName()}"></td>
            <td th:utext="${solarPowerPlant.get().getLocation().getRegion().getName()} + ' область, ' +
            ${solarPowerPlant.get().getLocation().getCity()} + ', вул. ' +
            ${solarPowerPlant.get().getLocation().getStreet()} + ', '+ ${solarPowerPlant.get().getLocation().getNumber()} "></td>

        </tr>
    </table>

    <hr/>
    <h3>Dynamic data between data</h3>
    <form th:action="@{'/view/' +${solarPowerPlant.get().getStringId()}+'/data'}" method="post">
        <label> З:
            <input type="date" name="startDate" value="2021-03-01">
        </label>
        <label> до:
            <input type="date" name="finishDate" value="2021-03-23">
        </label>

        <input type="submit" value="Отримати дані" name="submit">
    </form>
    <hr/>

    <h3>Dynamic data</h3>
    <div th:if="${not #lists.isEmpty(dynamicData)}">
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Produced power</th>
                <th>SPP id</th>
            </tr>
            <tr th:each="data : ${dynamicData}">
                <td th:utext="${data.getId()}"></td>
                <td th:utext="${data.getCollectionDateTime()}"></td>
                <td th:utext="${data.getProducedPower()}"></td>
                <td th:utext="${data.getSolarPowerPlant().getId()}"></td>
            </tr>
        </table>


    </div>

    <div id="mapBlock" class="mapBlock">
        <div id="popup" class="ol-popup">
            <div id="popup-content"></div>
        </div>
        &lt;!&ndash;<div id="popup2" class="ol-popup">
            <div id="popup-content2"></div>
        </div>&ndash;&gt;
    </div>


    <script th:inline="javascript">


    </script>

    <script type="text/javascript" src="/scripts/map.js"></script>

    <form th:action="@{'/solarPowerPlant/delete/' +${solarPowerPlant.get().getStringId()}}" method="post">
        <input type="submit" value="Видалити">
    </form>
</div>
<a href="/home">Повернутись</a>-->

<div th:replace="~{dashboard/user/nav-panel}"></div>


<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div th:replace="~{dashboard/user/sidebar}"></div>

        <!-- Main -->
        <div th:replace="~{dashboard/user/solar-power-plant/solar-power-plant-by-id
        ::main-content(${solarPowerPlant})}"></div>

    </div>
</div>


</body>
</html>