<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Дякуємо за реєстрацію!</h2>

<div th:if="${email}">
    <h3 th:text="'Для продовження реєстрації виконуйте пункти, які наведено в інструкції, яку надіслано на вказану адресу електронної пошти:'+ ${email}"></h3>
</div>

<h2>Натисніть <a th:href="@{/login}">сюди</a>, щоб ввійти.</h2>
<h2><a th:href="@{/}">Перейти на головну</a></h2>


</body>
</html>