<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Дякуємо за реєстрацію!</h3>

<div th:if="${email}">
    <p th:text="'Для продовження реєстрації виконуйте пункти, які наведено в інструкції, яку надіслано на вказану адресу електронної пошти: '+ ${email}"></p>
</div>

<h3>Натисніть <a th:href="@{/login}">сюди</a>, щоб ввійти.</h3>
<h3><a th:href="@{/}">Перейти на головну</a></h3>


</body>
</html>