<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap.css"
          th:href="@{/styles/bootstrap.css}"/>
    <link rel="stylesheet" href="css/profile.css">-->

    <script>
        function visibleExportDataTip(state) {
            document.getElementById('export-data-tip').hidden = state;
            //console.log("state: " + document.getElementById('export-data-tip').hidden);
        }

        function visibleExportDataWithTimeout() {
            visibleExportDataTip(false);
            setTimeout(visibleExportDataTip, 10000, true);
        }
    </script>

</head>

<body>


<main th:fragment="main-content (id,startDate,finishDate,data,solarPowerPlant)"
      role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="main-body">


        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- Назва -->
                <h3 th:utext="${solarPowerPlant.getName()}">Name</h3>
                <h5 th:utext="${info}"></h5>


                <!-- Блок з інформацією про зібрані дані -->
                <div class="col-lg-12 col-md-12  mb-3">
                    <div class="alert alert-success" role="alert"
                         th:if="${#lists.isEmpty(data)}">
                        За обраний період дані відсутні.
                    </div>
                    <div th:if="${not #lists.isEmpty(data)}"
                         class="card py-3">

                        <div
                                class="card-body overflow-auto" style="height: 720px;">
                            <!--<div class="d-flex flex-column align-items-center text-center">
                                <img src="images/map.jpg" alt="map"
                                     class="" width="100%">

                            </div>-->
                            <!--<h4 th:if="${#lists.isEmpty(data)}">
                                data
                            </h4>-->


                            <table th:if="${not #lists.isEmpty(data)}"
                                   class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="">#</th>
                                    <!-- Alt+0183 -> · -->
                                    <th class="">Дата та час</th>
                                    <th class="">Погода</th>
                                    <th class="">Вироблена енергія</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="data1,state : ${data}">
                                    <td th:utext="${state.count}"></td>
                                    <td th:utext="${data1.getCollectionDateTime()}"></td>
                                    <td th:utext="${data1.getWeather().name()}"></td>
                                    <td th:utext="${data1.getProducedPower()}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                <span class="text-secondary">https://bootdey.com</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                <span class="text-secondary">@bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                        </ul>
                    </div>-->
                </div>

                <!-- Блок для отримання даних за певний період часу -->
                <!--<div class="col-lg-12 col-md-12  mb-3">
                    <div class="card">
                        <div class="card-body">


                            <form action="#" method="post">
                                <div class="row">
                                    <h4>Вироблена електроенергія</h4>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 my-lg-1 my-md-1 my-sm-1 my-1">
                                        <div class="input-group">
                                        <span class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 text-wrap input-group-text"
                                              id="addon-wrapping-start-date">З дати: </span>

                                            <input type="datetime-local" class="form-control"
                                                   aria-label="datetime"
                                                   aria-describedby="addon-wrapping"
                                                   name="start-date">

                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 my-lg-1 my-md-1 my-sm-1 my-1">
                                        <div class="input-group">
                                        <span class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 text-wrap input-group-text"
                                              id="addon-wrapping-finish-date">по дату: </span>

                                            <input type="datetime-local" class="form-control"
                                                   aria-label="datetime"
                                                   aria-describedby="addon-wrapping"
                                                   name="finish-date">

                                        </div>
                                    </div>
                                    <div class="text-end mt-xl-3 mt-lg-1 mt-md-1 mt-sm-1 mt-1">
                                        <input type="submit" class="btn btn-success col-xl-3" value="Отримати дані">
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>-->

                <!-- Блок для виконання операцій з зареєстрованою станцією -->
                <!--<div class="col-lg-12 col-md-12  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4>Операції з зареєстрованою сонячною станцією</h4>

                            <div class="">
                                &lt;!&ndash;                            <input type="submit" class="btn btn-success" value="Повернутись">&ndash;&gt;
                                <input type="reset" class="btn btn-success pull-right
                                my-xl-1 my-lg-1 my-md-1 my-sm-1 my-1" value="Оновити інформацію">
                                <br/>
                                <input type="reset" class="btn btn-danger pull-right" value="Видалити сонячну станцію">
                            </div>

                        </div>
                    </div>
                </div>-->

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 th:if="${not #lists.isEmpty(data)}">
                <!-- Форма для експорту і графіки -->

                <!-- Форма для експорту даних -->

                <div class="card mb-3">
                    <div class="card-body">

                        <!--<div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">П.І.Б.</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ім'я користувача</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                username
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Мобільний телефон</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (320) 380-4539
                            </div>
                        </div>-->

                        <form th:action="@{'/view/' +${id}+'/data/export'}" method="post">
                            <div class="row">
                                <h4>Експорт даних</h4>
                                <!--<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 my-lg-1 my-md-1 my-sm-1 my-1">
                                    <div class="input-group">
                                        <span class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 text-wrap input-group-text"
                                              id="addon-wrapping-start-date">З дати: </span>

                                        <input type="datetime-local" class="form-control"
                                               aria-label="datetime"
                                               aria-describedby="addon-wrapping"
                                               name="start-date">

                                    </div>
                                </div>-->
                                <!--<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 my-lg-1 my-md-1 my-sm-1 my-1">
                                    <div class="input-group">
                                        <span class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 text-wrap input-group-text"
                                              id="addon-wrapping-finish-date">по дату: </span>

                                        <input type="datetime-local" class="form-control"
                                               aria-label="datetime"
                                               aria-describedby="addon-wrapping"
                                               name="finish-date">

                                    </div>
                                </div>-->
                                <input type="hidden" th:value="${startDate}" name="startDate">
                                <input type="hidden" th:value="${finishDate}" name="finishDate">

                                <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                    <select class="form-select col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                                            aria-label="Default select example" name="file-format">
                                        <option value="csv">CSV</option>
                                        <option value="xml">XML</option>
                                        <option value="json">JSON</option>
                                    </select>
                                </div>
                                <!--                                <div class="text-end mt-xl-3 mt-lg-1 mt-md-1 mt-sm-1 mt-1">-->
                                <input type="submit" class="btn btn-success col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4"
                                       value="Експортувати" onclick="visibleExportDataWithTimeout()">
                                <!--                                </div>-->
                            </div>
                        </form>

                        <div class="lead" id="export-data-tip" hidden>
                            Зачекайте, завантаження почнеться автоматично, якщо ні - спробуйте ще раз.
                        </div>

                    </div>
                </div>

                <!-- Графік потужності по годині -->
                <div class="col-lg-12 col-md-12  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <script th:inline="javascript">

                                /*<![CDATA[*/

                                let dataByHour = /*[[${dataForGraphsByHour}]]*/ 'name';

                                /*]]>*/
                            </script>

                            <canvas class="my-4 chartjs-render-monitor" id="chartByHours" width="2184" height="922"
                                    style="display: block; height: 461px; width: 1092px;"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Графік потужності по місяцях -->
                <div class="col-lg-12 col-md-12  mb-3">
                    <div class="card">
                        <div class="card-body">

                            <script th:inline="javascript">

                                /*<![CDATA[*/

                                let dataByMonth = /*[[${dataForGraphsByMonth}]]*/ 'name';

                                /*]]>*/
                            </script>

                            <canvas class="my-4 chartjs-render-monitor" id="chartByMonths" width="2184" height="922"
                                    style="display: block; height: 461px; width: 1092px;"></canvas>
                        </div>
                    </div>
                </div>

                <!--<div class="text-end">
                    <input type="submit" class="btn btn-success" value="Повернутись">
                    <input type="reset" class="btn btn-danger pull-right" value="Видалити">
                </div>-->

            </div>
        </div>
    </div>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>

        //console.log("var1: "+variable1);
        console.log("dataByMonth: " + dataByMonth);
        console.log("dataByHour: " + dataByHour);

        var hours = [];
        var dataHours = [];
        var dataMonths = [];
        var months = [];
        //hours.push(1,2,3);
        for (var i = 1; i <= 24; i++) {
            hours.push(i);
            if (i < 5 || i > 19) dataHours.push(0);
            else dataHours.push(150 * (Math.sin(0.44 * i + 2.3) + 1) / 2);
        }

        for (var i = 1; i <= 12; i++) {
            months.push(i);
            dataMonths.push(350 * ((Math.sin(0.4 * i - 1.02)) + 1) / 2);
        }
        //console.log(hours);

        var chartByHours = document.getElementById("chartByHours");
        var chartByMonths = document.getElementById("chartByMonths");

        getChart(chartByHours, hours, dataByHour, 'line', 'Година', 'Потужність', 'Середнє значення виробленої енергії');
        getChart(chartByMonths, months, dataByMonth, 'bar', 'Місяць', 'Потужність', 'Вироблення енергії по місяцях');

        function getChart(chart, labels, data, type, xAxesLabel, yAxesLabel, chartTitle) {

            var myChart = new Chart(chart, {
                // https://mdbootstrap.com/docs/standard/data/charts/
                type: type,
                data: {
                    //labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                    labels: labels,
                    datasets: [{
                        //data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                        data: data,
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    /*plugins: {
                        title: {
                            display: true,
                            text: 'chartTitle'
                        }
                    },*/
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: yAxesLabel,
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: xAxesLabel,
                            }
                        }]
                    },
                    legend: {
                        display: true,
                        text:'legend'
                    }
                }
            });
        }
    </script>

</main>

</body>
</html>