<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<main th:fragment="main-content (userInformation)"
      role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="main-body">

        <!--/*@thymesVar id="notFoundSolarPowerPlant" type="java.lang.String"*/-->
        <div class="alert alert-warning m-2" role="alert"
             th:if="${notFoundSolarPowerPlant}" th:utext="${notFoundSolarPowerPlant}">
            notFoundSolarPowerPlant
        </div>

        <!--/*@thymesVar id="deletedSolarPowerPlantOK" type="java.lang.String"*/-->
        <div class="alert alert-success m-2" role="alert"
             th:if="${deletedSolarPowerPlantOK}" th:utext="${deletedSolarPowerPlantOK}">
            deletedSolarPowerPlantOK
        </div>

        <div class="row"
             th:if="not ${notFoundSolarPowerPlant}">
            <div class="col-lg-6 col-md-6 col-sm-12">

                <!-- Назва -->
                <h3 th:utext="${solarPowerPlant.getName()}"></h3>

                <!-- Alert -->
                <div class="alert alert-success mx-2" role="alert"
                     th:if="${updateSolarPowerPlantMessage}" th:utext="${updateSolarPowerPlantMessage}">
                    updateSolarPowerPlantMessage
                </div>

                <!-- Блок з інформацією про зібрані дані -->
                <div th:replace="~{dashboard/solar-power-plant/solar-power-plant-fragments
        ::collection-data-info-fragment(${totalPower}, ${totalPowerForLarThirtyDays}, ${averagePowerForDay})}">
                </div>

                <!-- Блок для отримання даних за певний період часу -->
                <div th:replace="~{dashboard/solar-power-plant/solar-power-plant-fragments
        ::data-for-period-time-form-fragment(${solarPowerPlant})}">
                </div>

                <!-- Блок для виконання операцій з зареєстрованою станцією -->
                <div th:replace="~{dashboard/solar-power-plant/solar-power-plant-fragments
        ::operation-for-solar-power-plant-fragment(${solarPowerPlant})}">
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Карта і коротка інформація-->

                <!-- Коротка технічна інформація -->
                <div th:replace="~{dashboard/solar-power-plant/solar-power-plant-fragments
        ::tech-info-fragment(${solarPowerPlant}, ${usageTime})}">
                </div>

                <!-- Карта -->
                <div th:replace="~{dashboard/solar-power-plant/solar-power-plant-fragments
        ::map-fragment(${solarPowerPlant})}">
                </div>

            </div>
        </div>
    </div>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

</main>

</body>
</html>