<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/profile.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<main th:fragment="main-content (userInformation)"
      role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <!--<div th:if="${notFoundSolarPowerPlant}" th:value="${notFoundSolarPowerPlant}"
         th:utext="${notFoundSolarPowerPlant}"></div>

    <div th:if="${deletedSolarPowerPlantOK}" th:value="${deletedSolarPowerPlantOK}"
         th:utext="${deletedSolarPowerPlantOK}"></div>-->

    <div class="main-body">

        <div class="alert alert-warning m-2" role="alert"
             th:if="${notFoundSolarPowerPlant}" th:utext="${notFoundSolarPowerPlant}">
            notFoundSolarPowerPlant
        </div>

        <div class="alert alert-success m-2" role="alert"
             th:if="${deletedSolarPowerPlantOK}" th:utext="${deletedSolarPowerPlantOK}">
            deletedSolarPowerPlantOK
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Назва -->
                <h3 th:utext="${solarPowerPlant.get().getName()}"></h3>

                <!-- Alert -->
                <div class="alert alert-success mx-2" role="alert"
                     th:if="${updateSolarPowerPlantMessage}" th:utext="${updateSolarPowerPlantMessage}">
                    updateSolarPowerPlantMessage
                </div>

                <!-- Блок з інформацією про зібрані дані -->
                <div class="col-lg-12 col-md-12  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <!--<div class="d-flex flex-column align-items-center text-center">
                                <img src="images/map.jpg" alt="map"
                                     class="" width="100%">

                            </div>-->
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">Характеристика</th>
                                    <!-- Alt+0183 -> · -->
                                    <!--                                    <th class="text-center">Значення (кВт·год)</th>-->
                                    <th class="text-center">Значення (кВт·год)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Вироблено енергії за увесь час</td>
                                    <td th:if="${totalPower != null}" th:utext="${totalPower}">8888</td>
                                    <td th:if="${totalPower == null}">Недостатньо даних</td>
                                </tr>
                                <tr>
                                    <td>Вироблено енергії за останніх 30 днів</td>
                                    <td th:utext="${totalPowerForLarThirtyDays}">888</td>
                                </tr>
                                <tr>
                                    <td>Середнє значення за добу</td>
                                    <td th:utext="${averagePowerForDay}">88</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                <span class="text-secondary">https://bootdey.com</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                <span class="text-secondary">@bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                        </ul>
                    </div>-->
                </div>

                <!-- Блок для отримання даних за певний період часу -->
                <div class="col-lg-12 col-md-12  mb-3">
                    <div class="card">
                        <div class="card-body">

                            <!--<div class="row">
                                <div class="input-group col-md-3">
                                    <span class="text-wrap input-group-text"
                                          id="addon-wrapping-start-date">З дати: </span>

                                    &lt;!&ndash;<input type="date" class="form-control"
                                           aria-label="date"
                                           aria-describedby="addon-wrapping">&ndash;&gt;
                                    <input type="datetime-local" class="form-control"
                                           aria-label="datetime"
                                           aria-describedby="addon-wrapping"
                                           name="start-date">

                                </div>
                                <div class="input-group col-md-3">
                                    <span class="text-wrap input-group-text"
                                          id="addon-wrapping-finish-date">по дату: </span>

                                    &lt;!&ndash;<input type="date" class="form-control"
                                           aria-label="date"
                                           aria-describedby="addon-wrapping">&ndash;&gt;
                                    <input type="datetime-local" class="form-control"
                                           aria-label="datetime"
                                           aria-describedby="addon-wrapping"
                                           name="finish-date">

                                </div>
                            </div>-->
                            <form th:action="@{'/view/' +${solarPowerPlant.get().getStringId()}+'/data'}" method="post">
                                <div class="row">
                                    <h4>Вироблена електроенергія</h4>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 my-lg-1 my-md-1 my-sm-1 my-1">
                                        <div class="input-group">
                                    <span class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 text-wrap input-group-text"
                                          id="addon-wrapping-start-date">З дати: </span>

                                            <input type="datetime-local" class="form-control"
                                                   aria-label="datetime"
                                                   aria-describedby="addon-wrapping"
                                                   name="startDate">

                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 my-lg-1 my-md-1 my-sm-1 my-1">
                                        <div class="input-group">
                                    <span class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 text-wrap input-group-text"
                                          id="addon-wrapping-finish-date">по дату: </span>

                                            <input type="datetime-local" class="form-control"
                                                   aria-label="datetime"
                                                   aria-describedby="addon-wrapping"
                                                   name="finishDate">

                                        </div>
                                    </div>

                                    <div class="text-end mt-xl-3 mt-lg-1 mt-md-1 mt-sm-1 mt-1">
                                        <input type="submit" class="btn btn-success text-wrap" name="dataPeriod"
                                               value="Отримати дані">
                                        <!-- </div>-->
                                        <!-- <div class="text-end mt-xl-3 mt-lg-1 mt-md-1 mt-sm-1 mt-1">-->
                                        <br/>
                                        <input type="submit"
                                               class="btn btn-success text-wrap my-xl-1 my-lg-1 my-md-1 my-sm-1 my-1"
                                               name="dataPeriod"
                                               value="Отримати дані за весь час">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <!-- Блок для виконання операцій з зареєстрованою станцією -->
                <div class="col-lg-12 col-md-12  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4>Операції з зареєстрованою сонячною станцією</h4>

                            <div class="">
                                <!--                            <input type="submit" class="btn btn-success" value="Повернутись">-->
                                <form th:action="@{'/view/' +${solarPowerPlant.get().getStringId()}+'/update'}">
                                    <input type="submit" class="btn btn-success
                            my-xl-1 my-lg-1 my-md-1 my-sm-1 my-1" value="Оновити інформацію">
                                </form>
                                <form th:action="@{'/solar-power-plant/delete/' +${solarPowerPlant.get().getStringId()}}"
                                      method="post">
                                    <input type="submit" class="btn btn-danger pull-right"
                                           value="Видалити сонячну станцію">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Карта і коротка інформація-->

                <!-- Коротка технічна інформація -->

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Термін експлуатації</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:utext="${usingTime}">
                                12 р. 8 міс.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Кількість панелей</h6>
                            </div>
                            <div class="col-sm-9 text-secondary"
                                 th:utext="${solarPowerPlant.get().getStaticData().getQuantity()+' штук'}">
                                88 штук
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Потужність батареї</h6>
                            </div>
                            <div class="col-sm-9 text-secondary"
                                 th:utext="${solarPowerPlant.get().getStaticData().getPower()+' Вт'}">
                                450 Вт
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Розташування</h6>
                            </div>
                            <div class="col-sm-9 text-secondary"
                                 th:utext="${solarPowerPlant.get().getLocation().getRegion().getName()} + ' область, ' +
            ${solarPowerPlant.get().getLocation().getCity()} + ', вул. ' +
            ${solarPowerPlant.get().getLocation().getStreet()} + ', '+ ${solarPowerPlant.get().getLocation().getNumber()} ">
                                Івано-Франківська область, Калуш, вул. Сагайдачного, 9Б
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Дата реєстрації</h6>
                            </div>
                            <div class="col-sm-9 text-secondary"
                                 th:utext="${solarPowerPlant.get().getStringRegistrationDateTime()}">
                                19.03.2021
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Карта -->
                <div class="col-lg-12 col-md-12 card  mb-3">

                    <div class="row w-auto mx-3 mt-3">
                        <h4 class="col-auto">Розташування на карті</h4>
                        <div class="col-auto table-data-feature" style="display: flex; justify-content: flex-start;">
                            <!--                                <div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"-->
                            <!--                                     title="Отключенная подсказка">-->
                            <!--                                    <button type="button" class="btn btn-secondary disabled" data-bs-toggle="tooltip"-->
                            <!--                                            title="Підказка">-->
                            <!--                                        ?-->
                            <!--                                    </button>-->
                            <!--                                </div>-->
                            <div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                 title="Координати можна змінити, оновивши інформацію про станцію.">
                                <button type="submit" class="item border-0 btn btn-success disabled"
                                        data-toggle="tooltip"

                                        title="Координати можна змінити, оновивши інформацію про станцію."
                                >
                                    <!--            <i class="zmdi zmdi-delete"></i>-->
                                    <!--            <i class="bi bi-trash"></i>-->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg>
                                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>-->
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="card">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <div class="d-flex flex-column align-items-center text-center">-->
                    <!--<img src="images/map.jpg" alt="map"
                         class="" width="100%">-->

                    <div id="mapBlock" class="mapBlock w-auto m-3">
                        <div id="popup" class="ol-popup">
                            <div id="popup-content"></div>
                        </div>
                        <!--<div id="popup2" class="ol-popup">
                            <div id="popup-content2"></div>
                        </div>-->
                    </div>


                    <script th:inline="javascript">

                        /*<![CDATA[*/
                        let lon = /*[[${solarPowerPlant.get().getLocation().getLongitude}]]*/ '0.0';
                        let lat = /*[[${solarPowerPlant.get().getLocation().getLatitude}]]*/ '0.0';
                        let solarPowerPlantName = /*[[${solarPowerPlant.get().getName()}]]*/ 'Не знайдено';
                        /*]]>*/
                    </script>

                    <script type="text/javascript" src="/scripts/map.js"></script>

                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--<div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                <span class="text-secondary">https://bootdey.com</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                <span class="text-secondary">@bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                        </ul>
                    </div>-->
                </div>

                <!--<div class="text-end">
                    <input type="submit" class="btn btn-success" value="Повернутись">
                    <input type="reset" class="btn btn-danger pull-right" value="Видалити">
                </div>-->

            </div>
        </div>
    </div>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <!--    = = = = =    -->

    <!--<div th:if="${notFoundSolarPowerPlant}" th:value="${notFoundSolarPowerPlant}"
         th:utext="${notFoundSolarPowerPlant}"></div>

    <div th:if="${deletedSolarPowerPlantOK}" th:value="${deletedSolarPowerPlantOK}"
         th:utext="${deletedSolarPowerPlantOK}"></div>


    <div th:if="not ${notFoundSolarPowerPlant} and not ${deletedSolarPowerPlantOK}">
        <h3>Solar Plant By Id</h3>


        <table border="1px">
            <tr>
                <th>Id</th>
                <th>Назва</th>
                <th>Адреса</th>
            </tr>
            <tr>
                <td th:text="${solarPowerPlant.get().getId()}"></td>
                <td th:utext="${solarPowerPlant.get().getName()}"></td>
                <td th:utext="${solarPowerPlant.get().getLocation().getRegion().getName()} + ' область, ' +
            ${solarPowerPlant.get().getLocation().getCity()} + ', вул. ' +
            ${solarPowerPlant.get().getLocation().getStreet()} + ', '+ ${solarPowerPlant.get().getLocation().getNumber()} "></td>

            </tr>
        </table>

        <hr/>
        <h3>Dynamic data between data</h3>
        <form th:action="@{'/view/' +${solarPowerPlant.get().getStringId()}+'/data'}" method="post">
            <label> З:
                <input type="date" name="startDate" value="2021-03-01">
            </label>
            <label> до:
                <input type="date" name="finishDate" value="2021-03-23">
            </label>

            <input type="submit" value="Отримати дані" name="submit">
        </form>
        <hr/>

        <h3>Dynamic data</h3>
        <div th:if="${not #lists.isEmpty(dynamicData)}">
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Produced power</th>
                    <th>SPP id</th>
                </tr>
                <tr th:each="data : ${dynamicData}">
                    <td th:utext="${data.getId()}"></td>
                    <td th:utext="${data.getCollectionDateTime()}"></td>
                    <td th:utext="${data.getProducedPower()}"></td>
                    <td th:utext="${data.getSolarPowerPlant().getId()}"></td>
                </tr>
            </table>


        </div>

        <div id="_mapBlock" class="mapBlock">
            <div id="_popup" class="ol-popup">
                <div id="_popup-content"></div>
            </div>
            &lt;!&ndash;<div id="popup2" class="ol-popup">
                <div id="popup-content2"></div>
            </div>&ndash;&gt;
        </div>


        <script th:inline="javascript">

            /*<![CDATA[*/
            let lat = /*[[${solarPowerPlant.get().getLocation().getLongitude}]]*/ '0.0';
            let lon = /*[[${solarPowerPlant.get().getLocation().getLatitude}]]*/ '0.0';
            let solarPowerPlantName = /*[[${solarPowerPlant.get().getName()}]]*/ 'Не знайдено';
            /*]]>*/
        </script>

        <script type="text/javascript" src="/scripts/map.js"></script>

        <form th:action="@{'/solarPowerPlant/delete/' +${solarPowerPlant.get().getStringId()}}" method="post">
            <input type="submit" value="Видалити">
        </form>
    </div>
    <a href="/home">Повернутись</a>-->

</main>

</body>
</html>