<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/home.css" th:href="@{/styles/home.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/dashboard.css" th:href="@{/styles/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/profile.css" th:href="@{/styles/profile.css}">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/crud.css" th:href="@{/styles/crud.css}">

    <link rel="stylesheet" type="text/css" media="all" href="styles/bootstrap/bootstrap-icons.css"
          th:href="@{/styles/bootstrap/bootstrap-icons.css}">

    <title>Сонячна електростанція</title>
</head>
<body>

<!-- Navigation panel -->
<div th:replace="~{dashboard/user/nav-panel}"></div>

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div th:replace="~{dashboard/user/sidebar}"></div>

        <!-- Main -->
        <main role="main" class="col-xl-10 col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="main-body">
                <div class="alert alert-danger  col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-md-10 offset-md-1 col-sm-12"
                     role="alert"
                     th:if="${solarPowerPlantChangeError}" th:utext="${solarPowerPlantChangeError}">
                    solarPowerPlantChangeError
                </div>

                <div class="row" th:if="not ${solarPowerPlantChangeError}">
                    <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-md-10 offset-md-1 col-sm-12">
                        <!-- Назва -->
                        <h3 th:utext="${'Назва: '+solarPowerPlant.getName()}">Name</h3>

                        <!-- Блок з інформацією про зібрані дані -->
                        <div th:replace="~{dashboard/solar-power-plant/solar-power-plant-fragments
        ::collection-data-info-fragment(${totalPower}, ${totalPowerForLarThirtyDays}, ${averagePowerForDay})}">
                        </div>

                        <!-- Коротка технічна інформація -->
                        <div th:replace="~{dashboard/solar-power-plant/solar-power-plant-fragments
        ::tech-info-fragment(${solarPowerPlant}, ${usageTime})}">
                        </div>
                    </div>
                </div>

            </div>
        </main>

    </div>
</div>

</body>
</html>