<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/home.css" th:href="@{/styles/home.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/dashboard.css" th:href="@{/styles/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/profile.css" th:href="@{/styles/profile.css}">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/crud.css" th:href="@{/styles/crud.css}">

    <link rel="stylesheet" type="text/css" media="all" href="styles/bootstrap/bootstrap-icons.css"
          th:href="@{/styles/bootstrap/bootstrap-icons.css}">

    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">-->


    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.js"></script>

    <title>Користувачі</title>
</head>
<body>

<!-- Navigation panel -->

<div th:replace="~{dashboard/user/nav-panel}"></div>


<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div th:replace="~{dashboard/user/sidebar}"></div>

        <!-- Main -->

        <!--<div th:replace="~{dashboard/user/solar-power-plant/data
        ::main-content(${id},${startDate}, ${finishDate}, ${data})}"></div>-->

        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Користувачі системи</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/admin/add-user" type="button" class="btn btn-success">Додати користувача</a>
                </div>
            </div>

            <!-- Search -->

            <div class="container">
                <br/>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <form action="/admin/users/" method="get" class="card card-sm"
                              style="background-color: #c7d4e5;">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search text-body"></i>
                                </div>
                                <div class="col">
                                    <input class="form-control form-control-borderless"
                                           type="search"
                                           placeholder="Введіть ім'я користувача повністю або частково"
                                           name="search">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-success" type="submit">Шукати</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Alerts -->

            <div class="alert alert-success m-2" role="alert"
                 th:if="${updateUserMessage}" th:utext="${updateUserMessage}">
                updateUserMessage
            </div>
            <div class="alert alert-success m-2" role="alert"
                 th:if="${deleteUserMessage}" th:utext="${deleteUserMessage}">
                deleteUserMessage
            </div>

            <div class="alert alert-warning m-2" role="alert"
                 th:if="${usersNotFoundMessage}" th:utext="${usersNotFoundMessage}">
                usersNotFoundMessage
            </div>
            <div class="alert alert-danger m-2" role="alert"
                 th:if="${errorSetRoleMessage}" th:utext="${errorSetRoleMessage}">
                errorSetRoleMessage
            </div>

            <div class="alert alert-success m-2" role="alert"
                 th:if="${addUserMessage}" th:utext="${addUserMessage}">
                addUserMessage
            </div>
            <div class="alert alert-success m-2" role="alert"
                 th:if="${lockingUserMessage}" th:utext="${lockingUserMessage}">
                lockingUserMessage
            </div>
            <div class="alert alert-danger m-2" role="alert"
                 th:if="${errorLockingUserMessage}" th:utext="${errorLockingUserMessage}">
                errorLockingUserMessage
            </div>
            <div class="alert alert-danger m-2" role="alert"
                 th:if="${userChangeError}" th:utext="${userChangeError}">
                userChangeError
            </div>
            <!--<div class="alert alert-warning alert-dismissible fade show mx-2" role="alert">
                usersNotFoundMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрити"></button>
            </div>-->


            <!-- Table -->

            <table class="table table-striped table-hover" th:unless="${usersNotFoundMessage}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ім'я користувача</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Статус аккаунту</th>
                    <th scope="col">Дата створення</th>
                    <th scope="col">CRUD</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,state : ${users}">
                    <th scope="row" th:utext="${state.index+1}">1</th>
                    <td scope="col" th:utext="${user.getUsername()}">Username1</td>
                    <td scope="col" th:utext="${user.getUserRole()}">Editor</td>
                    <td scope="col" th:utext="${user.getAccountStatus()}">Статус</td>
<!--                    <td scope="col" th:if="${user.getActivated()}">Активований</td>-->
<!--                    <td scope="col" th:unless="${user.getActivated()}">Не активований</td>-->
                    <td scope="col" th:utext="${user.getStringRegistrationDateTime()}">29.03.2021 11:37:37</td>
                    <td scope="col">
                        <div class="table-data-feature">
                            <a class="item btn btn-success" data-toggle="tooltip" data-placement="top"
                               title="Переглянути"
                               th:href="${'/admin/users/'+user.getId()}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </a>

                            <a class="item btn btn-warning" data-toggle="tooltip" data-placement="top"
                               title="Редагувати"
                               th:href="${'/admin/users/'+user.getId()+'/update'}">
                                <!--        <i class="zmdi zmdi-edit"></i>-->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>
                            <form th:action="${'/admin/users/'+user.getId()+'/delete'}" th:method="delete"
                            >

                                <button type="submit"
                                        th:class="${#httpServletRequest.remoteUser != user.getUsername()} ? 'item border-0 btn btn-danger' : 'item border-0 btn btn-danger disabled'"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Видалити">

                                    <!--            <i class="zmdi zmdi-delete"></i>-->
                                    <!--            <i class="bi bi-trash"></i>-->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>-->
                                </button>
                            </form>

                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <!-- Pagination -->

            <div th:if="${numPages} > 1"
                 class="text-center pagination-menu">
                <form action="/admin/users" method="get">
                    <nav>
                        <input th:if="${search}" type="hidden" name="search" th:value="${search}">
                        <input th:each="page : ${#numbers.sequence(1, numPages)}" th:value="${page}"
                               th:name="page" th:id="${'page' + page}"

                               th:class="${page == currentPage}
                           ? 'btn btn-success mx-1'
                           : 'btn btn-outline-success mx-1'"
                               type="submit">
                    </nav>
                </form>
            </div>

        </main>

    </div>
</div>

<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<div th:utext="${usersMessage}"></div>

<div th:if="${updateUserMessage}" th:utext="${updateUserMessage}"></div>

<div th:if="${deleteUserMessage}" th:utext="${deleteUserMessage}"></div>

<div th:if="${usersNotFoundMessage}" th:utext="${usersNotFoundMessage}"></div>

<div th:if="${errorSetRoleMessage}" th:utext="${errorSetRoleMessage}"></div>

<form action="/admin/users/" method="get">
    <input type="text" name="search">
    <input type="submit" value="Шукати">
</form>

<div th:if="${usersNotFoundMessage}">Користувачів немає</div>

&lt;!&ndash;<h3>All users</h3>&ndash;&gt;

<table border="1" th:unless="${usersNotFoundMessage}" >
    <caption>All users</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>CRUD</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurname()}"></td>
        <td>
            <a th:href="${'/admin/users/'+user.getId()}">Read</a>
            <a th:href="${'/admin/users/'+user.getId()+'/update'}">Update</a>
&lt;!&ndash;            <a th:href="${'/admin/users/'+user.getId()+'/delete'}">Delete</a>&ndash;&gt;
            <form th:action="${'/admin/users/'+user.getId()+'/delete'}" th:method="delete"
            th:if="${#httpServletRequest.remoteUser != user.getUsername()}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>

<div th:if="${numPages!=null and !numPages.isEmpty() and #lists.size(numPages)>1}" class="text-center pagination-menu">
    <form action="/admin/users" method="get">
        <nav>
            &lt;!&ndash;<input class="btn btn-success" type="submit" value="1" name="page" id="page1">
            <input class="btn btn-outline-success" type="submit" value="2" name="page" id="page2">
            <input class="btn btn-outline-success" type="submit" value="3" name="page" id="page3">
            <input class="btn btn-squared-default btn-outline-success" type="submit" value="311" name="page"
                   id="page4">&ndash;&gt;
            <input th:if="${search}" type="hidden" name="search" th:value="${search}">
            <input th:each="page : ${numPages}" th:value="${page}"
                   th:name="page" th:id="${'page'+page}"

                   th:class="${page==currentPage}
                           ? 'btn btn-success mx-1'
                           : 'btn btn-outline-success mx-1'"
                   type="submit">
        </nav>
    </form>
</div>-->

<!--<form action="#" th:method="delete">
    <input type="submit" value="delete">
</form>-->

</body>
</html>