<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${userChangeError}" th:utext="${userChangeError}"></div>


<div th:if="${updateUserMessage}" th:utext="${updateUserMessage}"></div>

<div th:if="${errorSetRoleMessage}" th:utext="${errorSetRoleMessage}"></div>

<p th:if="${user}" th:utext="${user.getName()}"></p>

<form th:action="${'/admin/users/'+user.getId()+'/set-role'}" method="post">
    <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <select class="form-select col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                aria-label="Default select example" name="role">
            <option value="ADMIN">Адміністратор</option>
            <option value="USER">Користувач</option>
            <option value="EDITOR">Редактор</option>
        </select>
    </div>
    <!--                                <div class="text-end mt-xl-3 mt-lg-1 mt-md-1 mt-sm-1 mt-1">-->
    <input type="submit" class="btn btn-success col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4"
           value="Змінити роль користувача">
</form>

</body>
</html>