<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<div th:utext="${usersMessage}"></div>

<div th:if="${updateUserMessage}" th:utext="${updateUserMessage}"></div>

<div th:if="${deleteUserMessage}" th:utext="${deleteUserMessage}"></div>

<div th:if="${usersNotFoundMessage}" th:utext="${usersNotFoundMessage}"></div>

<div th:if="${errorSetRoleMessage}" th:utext="${errorSetRoleMessage}"></div>

<form action="/admin/users/" method="get">
    <input type="text" name="search">
    <input type="submit" value="Шукати">
</form>

<div th:if="${usersNotFoundMessage}">Користувачів немає</div>

<!--<h3>All users</h3>-->

<table border="1" th:unless="${usersNotFoundMessage}" >
    <caption>All users</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>CRUD</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurname()}"></td>
        <td>
            <a th:href="${'/admin/users/'+user.getId()}">Read</a>
            <a th:href="${'/admin/users/'+user.getId()+'/update'}">Update</a>
<!--            <a th:href="${'/admin/users/'+user.getId()+'/delete'}">Delete</a>-->
            <form th:action="${'/admin/users/'+user.getId()+'/delete'}" th:method="delete"
            th:if="${#httpServletRequest.remoteUser != user.getUsername()}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>

<div th:if="${numPages!=null and !numPages.isEmpty()}" class="text-center pagination-menu">
    <form action="/admin/users" method="get">
        <nav>
            <!--<input class="btn btn-success" type="submit" value="1" name="page" id="page1">
            <input class="btn btn-outline-success" type="submit" value="2" name="page" id="page2">
            <input class="btn btn-outline-success" type="submit" value="3" name="page" id="page3">
            <input class="btn btn-squared-default btn-outline-success" type="submit" value="311" name="page"
                   id="page4">-->
            <input th:if="${search}" type="hidden" name="search" th:value="${search}">
            <input th:each="page : ${numPages}" th:value="${page}"
                   th:name="page" th:id="${'page'+page}"

                   th:class="${page==currentPage}
                           ? 'btn btn-success mx-1'
                           : 'btn btn-outline-success mx-1'"
                   type="submit">
        </nav>
    </form>
</div>

<!--<form action="#" th:method="delete">
    <input type="submit" value="delete">
</form>-->

</body>
</html>