<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <title>Title</title>
</head>
<body style="background-color: #eff1f5;">

<!--<h2 th:text="${message.getTitle()}"></h2>
<h4 th:text="${message.getText()}"></h4>

<button>Відповісти</button>

<form method="post" th:action="@{/messages}" th:object="${message}">
    <label for="title">Title:
        <input id="title" type="text" th:field="*{title}">
    </label>
    <label for="text">Text:
        <input id="text" type="text" th:field="*{text}">
    </label>

&lt;!&ndash;    <input type="hidden" th:field="">&ndash;&gt;

    <input type="submit" value="Sent message">
</form>

<a href="/messages">Go back</a>-->

<div class="px-4 py-5 my-5">
    <!--    <button type="button" class="btn btn-success px-4 gap-3">Повернутись</button>-->

    <!--    <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="display-5 fw-bold" th:text="${message.getTitle()}">Title message</h1>
    <div class=" mx-auto">
        <!--        <p class="">Name Surname</p>-->
        <h5>
            <div th:if="${message.getMessageType().name()=='FOR_EDITOR' or message.getMessageType().name()=='FOR_USER'}"
            th:text="${message.getFormattedUsernameAndNameSurname()}">
                Name Surname
            </div>
            <div th:if="${message.getMessageType().name()=='INFORMATION'}" class="badge bg-info text-wrap user-select-none">
                Інформаційне повідомлення
            </div>
            <div th:if="${message.getMessageType().name()=='UPDATE'}" class="badge bg-warning text-wrap user-select-none">
                Оновлення в системі
            </div>
            <div th:if="${message.getMessageType().name()=='ERROR'}" class="badge bg-danger text-wrap user-select-none">
                Повідомлення про проблему
            </div>
        </h5>
        <p class="mb-4" th:text="${message.getStringDateTime()}">25.05.2021 17:10</p>
    </div>
    <div class=" mx-auto">
        <p class="lead mb-4" th:text="${message.getText()}">Message text</p>
        <div class="d-grid gap-2 d-sm-flex ">
            <a class="btn btn-outline-success px-4 gap-3">Відповісти</a>
            <a href="/messages" class="btn btn-success px-4 gap-3">Повернутись</a>

            <!--            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
        </div>
    </div>



    <form method="post" th:action="@{/messages/answer}">
        <hr>
        <!--<div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>-->


<!--        <input type="hidden" name="title" th:value="${message.getTitle()}" >-->
<!--        <input type="hidden" name="recipient" th:value="${message.getSender()}" >-->
<!--        <input type="hidden" name="type" th:if="${message.getMessageType()=='FOR_EDITOR' or message.getMessageType()=='FOR_ADMIN'}" value="FOR_USER" >-->
<!--        <input type="hidden" name="type" th:if="${message.getMessageType()=='FOR_USER'}" value="FOR_USER" >-->
<!--        <input type="hidden" name="sender" th:value="${message.getSender()}" >-->
        <input type="hidden" name="id" th:value="${message.getId().toString()}" >


        <div class="mb-3 col-xl-8 col-lg-9 col-md-12 ">
            <label for="textarea" class="form-label">Текст повідомлення</label>
            <textarea class="form-control bi-textarea-resize" id="textarea" cols="20" rows="7" name="text"></textarea>
        </div>

        <!--<div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>-->
        <div class="d-grid gap-2 d-sm-flex">
            <button type="submit" class="btn btn-success gap-3">Надіслати</button>
            <button type="submit" class="btn btn-outline-success gap-3">Повернутись</button>
        </div>
    </form>

</div>

</body>
</html>