<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
</head>
<body>

<div th:fragment="header-main-page-messages-fragment(title)">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom mx-lg-4">
        <h1 class="display-5 fw-bold mx-lg-4"  th:text="${title}">title</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a type="button" class="btn btn-success px-4 gap-3"
               th:href="@{/messages/new}">Написати повідомлення</a>
        </div>
    </div>
</div>

<div th:fragment="read-messages-button-fragment(url, name)">
    <div class="mx-lg-4 py-2 my-2">
        <a type="button" class="btn btn-sent-messages text-light px-4 gap-3"
           th:href="${url}" th:text="${name}">name</a>
    </div>
</div>

<div th:fragment="messages-fragment(messages, url)">
    <div class="list-group mx-lg-4" th:each="m : ${messages}">
<!--        <a th:href="'/messages/'+${m.getId()}"-->
        <a th:href="${url}+${m.getId()}"
           th:class="${m.getRead() or url == '/messages/sent/'}
                           ? 'list-group-item list-group-item-action message-item-read'
                           : 'list-group-item list-group-item-action'"
           aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${m.getTitle()}">Тема повідомлення №1</h5>
                <small th:text="${m.getStringDateTime()}">25.05.2021 21:13</small>
            </div>
            <p class="mb-1"
               th:if="${(m.getMessageType().name()=='FOR_ROLE_EDITOR' or m.getMessageType().name()=='FOR_ROLE_USER' or m.getMessageType().name()=='FOR_ROLE_ADMIN') and #httpServletRequest.remoteUser != m.getSender().getUsername()}"
               th:text="${m.getFormattedUsernameAndNameSurname()}">Name Surname</p>

            <!--<div th:if="${(m.getMessageType().name()=='FOR_EDITOR' or m.getMessageType().name()=='FOR_USER') and #httpServletRequest.remoteUser != m.getSender().getUsername()}"
                 th:text="${m.getFormattedUsernameAndNameSurname()}">
                Name Surname
            </div>-->
            <p class="mb-1"
               th:if="${(m.getMessageType().name()=='FOR_ROLE_EDITOR' or m.getMessageType().name()=='FOR_ROLE_USER' or m.getMessageType().name()=='FOR_ROLE_ADMIN') and #httpServletRequest.remoteUser == m.getSender().getUsername()}"
               th:text="${m.getFormattedUsernameAndNameSurnameOfRecipient()}">Name Surname</p>
            <!--<div th:if="${(m.getMessageType().name()=='FOR_EDITOR' or m.getMessageType().name()=='FOR_USER') and #httpServletRequest.remoteUser == m.getSender().getUsername()}"
                 th:text="${m.getFormattedUsernameAndNameSurnameOfRecipient()}">
                Name Surname
            </div>-->
            <p th:if="${m.getMessageType().name()=='INFORMATION'}"
               class="badge bg-info text-wrap user-select-none mb-1">
                Інформаційне повідомлення
            </p>
            <br th:if="${m.getMessageType().name()=='INFORMATION'}"/>

            <p th:if="${m.getMessageType().name()=='UPDATE'}"
               class="badge bg-warning text-wrap user-select-none mb-1">
                Оновлення в системі
            </p>
            <br th:if="${m.getMessageType().name()=='UPDATE'}"/>

            <p th:if="${m.getMessageType().name()=='ERROR'}"
               class="badge bg-danger text-wrap user-select-none mb-1">
                Повідомлення про проблему
            </p>
            <br th:if="${m.getMessageType().name()=='ERROR'}"/>


            <small th:max="50" th:text="${m.getShortText()}">До 40 символів вміст повідомлення ...</small>
        </a>

        <!--<a href="#" class="list-group-item list-group-item-action message-item-read">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Тема повідомлення №2</h5>
                <small class="text-muted">25.05.2021 21:13</small>
            </div>
            <p class="mb-1">Name Surname or [Info or Update]</p>
            <small class="text-muted">До 40 символів вміст повідомлення ...</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action message-item-read">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Тема повідомлення №3</h5>
                <small class="text-muted">25.05.2021 21:13</small>
            </div>
            <p class="mb-1">Name Surname or [Info or Update]</p>
            <small class="text-muted">До 40 символів вміст повідомлення ...</small>
        </a>-->
    </div>
</div>

</body>
</html>