<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="messageNotFound" type="java.lang.String"*/-->
<h2 style="color: #bf5555;" th:if="${messageNotFound}" th:text="${messageNotFound}"></h2>

<!--/*@thymesVar id="messageSent" type="java.lang.String"*/-->
<h2 style="color: green;" th:if="${messageSent}" th:text="${messageSent}"></h2>

<!--/*@thymesVar id="messageNotSent" type="java.lang.String"*/-->
<h2 style="color: #d758db;" th:if="${messageNotSent}" th:text="${messageNotSent}"></h2>

<h2 th:if="${#lists.isEmpty(messages)}">Вхідних повідомлень немає</h2>

<ul th:each="m : ${messages}">
    <li>
        <a th:href="'/messages/'+${m.getId()}"
           th:text="${m.getTitle()}+' -> id: '+${m.getId()}+' type: '+${m.getMessageType().name()}">Read message</a>
    </li>
</ul>

<!--<h3>Надіслані</h3>
<ul th:each="m:${sentMessages}">
    <li>
        <a th:href="'/messages/'+${m.getId()}"
           th:text="${m.getTitle()}+' -> id: '+${m.getId()}+' type: '+${m.getMessageType().name()}">Read message</a>
    </li>
</ul>-->

<a th:href="@{/messages/new}">New message</a>
<br/>
<a th:href="@{/messages/sent}">Надіслані</a>

<div th:if="${#lists.size(numPages)}> 1"
     class="text-center pagination-menu my-3">
    <form action="/messages" method="get">
        <nav>
            <!--<input class="btn btn-success" type="submit" value="1" name="page" id="page1">
            <input class="btn btn-outline-success" type="submit" value="2" name="page" id="page2">
            <input class="btn btn-outline-success" type="submit" value="3" name="page" id="page3">
            <input class="btn btn-squared-default btn-outline-success" type="submit" value="311" name="page"
                   id="page4">-->
            <input th:each="page : ${numPages}" th:value="${page}"
                   th:name="page" th:id="${'page'+page}"

                   th:class="${page==currentPage}
                           ? 'btn btn-success mx-1'
                           : 'btn btn-outline-success mx-1'"
                   type="submit">
        </nav>
    </form>
</div>

</body>
</html>