<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>new message</h2>

<form method="post" th:action="@{/messages}" th:object="${message}">
    <label for="title">Title:
        <input id="title" type="text" th:field="*{title}">
    </label>
    <label for="text">Text:
        <input id="text" type="text" th:field="*{text}">
    </label>

    <label for="typesForUser" th:if="${editorAccess==null}">
        <select name="type" id="typesForUser">
            <option name="FOR_EDITOR" value="FOR_EDITOR">Питання</option>
            <option name="FOR_ADMIN" value="FOR_ADMIN">Технічна помилка</option>
<!--            <option name="user" value="user">For user (?)</option>-->
        </select>
    </label>

    <label for="types" th:if="${editorAccess}">
        <select name="type" id="types">
            <option name="INFORMATION" value="INFORMATION">Info</option>
            <option name="UPDATE" value="UPDATE">Update</option>
            <option name="user" value="user">For user (?)</option>
        </select>
    </label>

    <input type="submit" value="Sent message">
</form>


</body>
</html>