<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/styles/home.css" th:href="@{/styles/home.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/dashboard.css" th:href="@{/styles/dashboard.css}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/styles/messages.css"
          th:href="@{/styles/messages.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>

    <title>Написати повідомлення</title>

    <script>
        function loadUserList() {
            var s = document.getElementById("types");
            var selectedOption = s.options[s.selectedIndex].value;

            if (selectedOption === "FOR_ROLE_USER") {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        document.getElementById("userSelect").innerHTML =
                            this.responseText;
                    }
                };

                xhttp.open("GET", "getUsersList", true);
                xhttp.send();
            } else {
                var element = document.getElementById("userSelect");
                while (element.firstChild) {
                    element.removeChild(element.firstChild);
                }
            }
        }
    </script>
</head>
<body>

<!-- Navigation panel -->
<div th:replace="~{dashboard/user/nav-panel}"></div>

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div th:replace="~{dashboard/user/sidebar}"></div>

        <!-- Main -->
        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="px-4 py-2 my-2">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
                    <h1 class="display-5 fw-bold mx-auto">Створення повідомлення</h1>
                </div>

                <form method="post" th:action="@{/messages}" th:object="${message}">
                    <div class="mb-3 col-xl-6 col-lg-7 col-md-10 mx-auto"
                         th:if="${editorAccess==null}">
                        <label for="typesForUser" class="form-label">Тип повідомлення</label>
                        <select id="typesForUser" class="form-select" name="type">
                            <option name="FOR_ROLE_EDITOR" value="FOR_ROLE_EDITOR">Питання</option>
                            <option name="FOR_ROLE_ADMIN" value="FOR_ROLE_ADMIN">Технічна помилка</option>
                        </select>
                    </div>

                    <div class="mb-3 col-xl-6 col-lg-7 col-md-10 mx-auto"
                         th:if="${editorAccess}">
                        <label for="types" class="form-label">Тип повідомлення</label>
                        <select id="types" class="form-select" name="type"
                                onclick="loadUserList()">
                            <option name="INFORMATION" value="INFORMATION">Інформаційне повідомлення</option>
                            <option name="UPDATE" value="UPDATE">Повідомлення про оновлення</option>
                            <option name="FOR_ROLE_USER" value="FOR_ROLE_USER">Повідомлення для користувача</option>
                        </select>
                    </div>

                    <div id="userSelect" th:if="${editorAccess}"></div>

                    <div class="mb-3 col-xl-6 col-lg-7 col-md-10 mx-auto">
                        <label for="title" class="form-label">Заголовок</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}">
                    </div>

                    <div class="mb-3 col-xl-6 col-lg-7 col-md-10 mx-auto">
                        <label for="textarea" class="form-label">Текст повідомлення</label>
                        <textarea class="form-control bi-textarea-resize" id="textarea"
                                  cols="20" rows="7" maxlength="1000" th:field="*{text}"></textarea>
                    </div>

                    <div class="mb-3 col-xl-6 col-lg-7 col-md-10 mx-auto">
                        <button type="submit" class="btn btn-success">Надіслати</button>
                        <a type="button" class="btn btn-outline-success"
                           href="/messages">Перейти до списку повідомлень</a>
                    </div>
                </form>
            </div>
        </main>

    </div>
</div>

</body>
</html>