<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="/styles/bootstrap/bootstrap.css"
          th:href="@{/styles/bootstrap/bootstrap.css}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/styles/home.css" th:href="@{/styles/home.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/dashboard.css" th:href="@{/styles/dashboard.css}"/>

    <link rel="stylesheet" type="text/css" media="all" href="/styles/messages.css"
          th:href="@{/styles/messages.css}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>

    <title>Надіслані повідомлення</title>
</head>
<body>

<!-- Navigation panel -->
<div th:replace="~{dashboard/user/nav-panel}"></div>

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div th:replace="~{dashboard/user/sidebar}"></div>

        <!-- Main -->
        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="px-1 py-2 my-2">

                <div th:replace="~{message/message-fragments
        ::header-main-page-messages-fragment('Надіслані повідомлення')}"></div>

                <!-- Alerts -->
                <div th:if="${#lists.isEmpty(sentMessages)}" class="alert alert-success mx-2" role="alert">
                    Надісланих повідомлень немає.
                </div>

                <!--/*@thymesVar id="messageNotFound" type="java.lang.String"*/-->
                <div class="alert alert-danger mx-2" role="alert"
                     th:if="${messageNotFound}" th:text="${messageNotFound}">
                    messageNotFound
                </div>

                <div th:replace="~{message/message-fragments
        ::read-messages-button-fragment('/messages','Переглянути вхідні повідомлення')}"></div>

                <div th:replace="~{message/message-fragments
        ::messages-fragment(${sentMessages}, '/messages/sent/')}"></div>

                <div th:replace="~{fragments/pagination
        ::pagination(null, ${numPages}, ${currentPage}, '/messages/sent')}"></div>

            </div>
        </main>

    </div>
</div>

</body>
</html>